<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.datum.admin.dao.ApplyRecordMapper">
    <resultMap id="BaseResultMap" type="com.platon.datum.admin.dao.entity.ApplyRecord">
        <!--@mbg.generated-->
        <!--@Table apply_record-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="authority_business_id" jdbcType="INTEGER" property="authorityBusinessId"/>
        <result column="pct_id" jdbcType="TINYINT" property="pctId"/>
        <result column="apply_org" jdbcType="VARCHAR" property="applyOrg"/>
        <result column="approve_org" jdbcType="VARCHAR" property="approveOrg"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="progress" jdbcType="INTEGER" property="progress"/>
        <result column="apply_remark" jdbcType="VARCHAR" property="applyRemark"/>
        <result column="approve_remark" jdbcType="VARCHAR" property="approveRemark"/>
        <result column="material" jdbcType="VARCHAR" property="material"/>
        <result column="material_desc" jdbcType="VARCHAR" property="materialDesc"/>
        <result column="vc" jdbcType="VARCHAR" property="vc"/>
        <result column="expiration_date" jdbcType="VARCHAR" property="expirationDate"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="context" jdbcType="VARCHAR" property="context"/>
        <result column="claim" jdbcType="VARCHAR" property="claim"/>
        <result column="used" jdbcType="TINYINT" property="used"/>
        <result column="tx_hash" jdbcType="VARCHAR" property="txHash"/>
    </resultMap>

    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, authority_business_id, pct_id, apply_org, approve_org, start_time,end_time,
        progress, apply_remark, approve_remark, material, material_desc,vc,expiration_date,
        `status`,`context`,claim,used,tx_hash
    </sql>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from apply_record
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insertSelective" keyColumn="id" keyProperty="id"
            parameterType="com.platon.datum.admin.dao.entity.ApplyRecord" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into apply_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="authorityBusinessId != null">
                authority_business_id,
            </if>
            <if test="pctId != null">
                pct_id,
            </if>
            <if test="applyOrg != null">
                apply_org,
            </if>
            <if test="approveOrg != null">
                approve_org,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="progress != null">
                progress,
            </if>
            <if test="applyRemark != null">
                apply_remark,
            </if>
            <if test="approveRemark != null">
                approve_remark,
            </if>
            <if test="material != null">
                material,
            </if>
            <if test="materialDesc != null">
                material_desc,
            </if>
            <if test="vc != null">
                vc,
            </if>
            <if test="expirationDate != null">
                expiration_date,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="context != null">
                context,
            </if>
            <if test="claim != null">
                claim,
            </if>
            <if test="used != null">
                used,
            </if>
            <if test="txHash != null">
                tx_hash,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="authorityBusinessId != null">
                #{authorityBusinessId,jdbcType=INTEGER},
            </if>
            <if test="pctId != null">
                #{pctId,jdbcType=TINYINT},
            </if>
            <if test="applyOrg != null">
                #{applyOrg,jdbcType=VARCHAR},
            </if>
            <if test="approveOrg != null">
                #{approveOrg,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="progress != null">
                #{progress,jdbcType=INTEGER},
            </if>
            <if test="applyRemark != null">
                #{applyRemark,jdbcType=VARCHAR},
            </if>
            <if test="approveRemark != null">
                #{approveRemark,jdbcType=VARCHAR},
            </if>
            <if test="material != null">
                #{material,jdbcType=VARCHAR},
            </if>
            <if test="materialDesc != null">
                #{materialDesc,jdbcType=VARCHAR},
            </if>
            <if test="vc != null">
                #{vc,jdbcType=VARCHAR},
            </if>
            <if test="expirationDate != null">
                #{expirationDate},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="context != null">
                #{context},
            </if>
            <if test="claim != null">
                #{claim},
            </if>
            <if test="used != null">
                #{used},
            </if>
            <if test="txHash != null">
                #{txHash},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.platon.datum.admin.dao.entity.ApplyRecord">
        <!--@mbg.generated-->
        update apply_record
        <set>
            <if test="authorityBusinessId != null">
                authority_business_id = #{authorityBusinessId,jdbcType=INTEGER},
            </if>
            <if test="pctId != null">
                pct_id = #{pctId,jdbcType=TINYINT},
            </if>
            <if test="applyOrg != null">
                apply_org = #{applyOrg,jdbcType=VARCHAR},
            </if>
            <if test="approveOrg != null">
                approve_org = #{approveOrg,jdbcType=VARCHAR},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="progress != null">
                progress = #{progress,jdbcType=INTEGER},
            </if>
            <if test="applyRemark != null">
                apply_remark = #{applyRemark,jdbcType=VARCHAR},
            </if>
            <if test="approveRemark != null">
                approve_remark = #{approveRemark,jdbcType=VARCHAR},
            </if>
            <if test="material != null">
                material = #{material,jdbcType=VARCHAR},
            </if>
            <if test="materialDesc != null">
                material_desc = #{materialDesc,jdbcType=VARCHAR},
            </if>
            <if test="vc != null">
                vc = #{vc,jdbcType=VARCHAR},
            </if>
            <if test="expirationDate != null">
                expiration_date = #{expirationDate},
            </if>
            <if test="status != null">
                `status` = #{status},
            </if>
            <if test="context != null">
                `context` = #{context},
            </if>
            <if test="claim != null">
                `claim` = #{claim},
            </if>
            <if test="used != null">
                `used` = #{used},
            </if>
            <if test="txHash != null">
                `tx_hash` = #{txHash},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <resultMap id="BaseResultMap_With_IdentityName" type="com.platon.datum.admin.dao.entity.ApplyRecord"
               extends="BaseResultMap">
        <result column="approve_org_name" property="dynamicFields.approveOrgName" jdbcType="VARCHAR"/>
        <result column="apply_org_name" property="dynamicFields.applyOrgName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectListByApplyOrg" resultMap="BaseResultMap_With_IdentityName">
        select ar.*, go.node_name as approve_org_name
        from apply_record ar
                 left join global_org go on go.identity_id = ar.approve_org
        where ar.apply_org = #{applyOrg}
        order by ar.start_time desc
    </select>

    <select id="selectById" resultMap="BaseResultMap_With_IdentityName">
        select ar.*, go1.node_name as approve_org_name, go2.node_name as apply_org_name
        from apply_record ar
                 left join global_org go1 on go1.identity_id = ar.approve_org
                 left join global_org go2 on go2.identity_id = ar.apply_org
        where ar.id = #{id}
    </select>

    <select id="selectPassCount" resultType="java.lang.Integer">
        select count(*)
        from apply_record
        where progress = 1
          and apply_org = #{applyOrg}
    </select>

    <select id="selectApplyCount" resultType="int">
        select count(*)
        from apply_record
        where apply_org = #{applyOrg}
    </select>

    <select id="selectApproveCount" resultType="int">
        select count(*)
        from apply_record
        where approve_org = #{approveOrg}
          and progress = 1
    </select>

    <select id="selectByApplyOrgAndApproveOrg" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from apply_record
        where apply_org = #{applyOrg}
          and approve_org = #{approveOrg}
          and status = #{status}
    </select>

    <select id="selectByUsedAndValidVc" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from apply_record
        where apply_org = #{applyOrg}
          and used = 1
          and status = 1
    </select>

    <select id="selectByApproveOrgAndTobeEffective" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from apply_record
        where approve_org = #{approveOrg}
          and status = 2
    </select>

    <select id="selectByAuthorityBusinessId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from apply_record
        where authority_business_id = #{authorityBusinessId}
    </select>
</mapper>