<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.datum.admin.dao.AttributeDataTokenMapper">
    <resultMap id="BaseResultMap" type="com.platon.datum.admin.dao.entity.AttributeDataToken">
        <!--@mbg.generated-->
        <!--@Table attribute_data_token-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="symbol" jdbcType="VARCHAR" property="symbol"/>
        <result column="total" jdbcType="VARCHAR" property="total"/>
        <result column="desc" jdbcType="LONGVARCHAR" property="desc"/>
        <result column="owner" jdbcType="VARCHAR" property="owner"/>
        <result column="meta_data_db_id" jdbcType="INTEGER" property="metaDataDbId"/>
        <result column="publish_nonce" jdbcType="INTEGER" property="publishNonce"/>
        <result column="publish_hash" jdbcType="VARCHAR" property="publishHash"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="rec_create_time" jdbcType="TIMESTAMP" property="recCreateTime"/>
        <result column="rec_update_time" jdbcType="TIMESTAMP" property="recUpdateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, address, `name`, symbol, total, `desc`, `owner`, meta_data_db_id, publish_nonce,
        publish_hash, `status`, rec_create_time, rec_update_time
    </sql>
    <select id="selectDataTokenById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from attribute_data_token
        where id = #{dataTokenId,jdbcType=INTEGER}
    </select>

    <select id="selectByMetaDataId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from attribute_data_token
        where meta_data_db_id = #{metaDataDbId}
    </select>

    <select id="selectPublishedByMetaDataId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from attribute_data_token
        where meta_data_db_id = #{metaDataDbId}
          and status = 3
    </select>

    <insert id="insertAndReturnId" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO attribute_data_token (`address`, `name`, symbol, total, `desc`, `owner`, meta_data_db_id, status,
                                          `publish_nonce`,
                                          `publish_hash`)
        VALUES (#{address}, #{name}, #{symbol}, #{total}, #{desc}, #{owner}, #{metaDataDbId}, #{status},
                #{publishNonce},
                #{publishHash})
        ON DUPLICATE KEY
            UPDATE `name`=#{name},
                   symbol=#{symbol},
                   total=#{total},
                   `desc`=#{desc},
                   owner=#{owner},
                   status=#{status},
                   `publish_nonce`=#{publishNonce},
                   `publish_hash`=#{publishHash}
    </insert>

    <update id="updateStatusById">
        update attribute_data_token
        set status = #{status}
        where id = #{dataTokenId}
    </update>

    <resultMap id="BaseResultMap_With_MetaDataInfo" type="com.platon.datum.admin.dao.entity.AttributeDataToken"
               extends="BaseResultMap">
        <result column="meta_data_id" property="dynamicFields.metaDataId" jdbcType="VARCHAR"/>
        <result column="meta_data_name" property="dynamicFields.metaDataName" jdbcType="VARCHAR"/>
        <result column="usage" property="dynamicFields.usage" jdbcType="INTEGER" javaType="int"/>
        <result column="data_hash" property="dynamicFields.dataHash" jdbcType="VARCHAR"/>
        <result column="status" property="dynamicFields.status" jdbcType="INTEGER" javaType="int"/>
    </resultMap>

    <select id="selectListByKeywordAndUser" resultMap="BaseResultMap_With_MetaDataInfo">
        select attribute_data_token.*,
               md.meta_data_id   as meta_data_id,
               md.meta_data_name as meta_data_name,
               md.`usage`        as `usage`,
               df.data_hash      as data_hash,
               md.status         as status
        from attribute_data_token
                 left join meta_data md on attribute_data_token.meta_data_db_id = md.id
                 left join data_file df on md.file_id = df.file_id
        where
        <if test="keyword != null and keyword != ''">
            name like CONCAT('%', #{keyword}, '%')
              and
        </if>
        `owner` = #{address}
        order by rec_create_time desc
    </select>

    <select id="selectListByStatus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from attribute_data_token
        where status in
        <foreach collection="statusList" item="status" open="(" close=")" separator=",">
            #{status}
        </foreach>
    </select>

    <update id="updateStatus">
        update attribute_data_token
        set status = #{status}
        where id = #{id}
    </update>

    <update id="updateTokenAddress">
        update attribute_data_token
        set address = #{tokenAddress}
        where id = #{id}
    </update>

    <select id="selectByDataTokenAddress" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from attribute_data_token
        where address = #{tokenAddress}
    </select>

    <!--auto generated by MybatisCodeHelper on 2022-07-15-->
    <update id="updateTotalByAddress">
        update attribute_data_token
        set total = #{total,jdbcType=VARCHAR}
        where address = #{address,jdbcType=VARCHAR}
    </update>

    <select id="selectByAddress" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from attribute_data_token
        where address = #{attributeDataTokenAddress}
    </select>

    <select id="countByUser" resultType="int">
        select count(*)
        from attribute_data_token
                 left join meta_data md on attribute_data_token.meta_data_db_id = md.id
        where md.user = #{userAddress}
    </select>
</mapper>