<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.datum.admin.dao.AuthorityBusinessMapper">
    <resultMap id="BaseResultMap" type="com.platon.datum.admin.dao.entity.AuthorityBusiness">
        <!--@mbg.generated-->
        <!--@Table authority_business-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="relation_id" jdbcType="VARCHAR" property="relationId"/>
        <result column="apply_org" jdbcType="VARCHAR" property="applyOrg"/>
        <result column="specify_org" jdbcType="VARCHAR" property="specifyOrg"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="process_status" jdbcType="INTEGER" property="processStatus"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `type`, relation_id,apply_org, specify_org, start_time, process_status
    </sql>
    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from authority_business
        where id = #{id}
    </select>
    <delete id="deleteById" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete
        from authority_business
        where id = #{id}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id"
            parameterType="com.platon.datum.admin.dao.entity.AuthorityBusiness" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into authority_business (`type`, relation_id, apply_org, specify_org,
                                        start_time, process_status)
        values (#{type}, #{relationId}, #{applyOrg}, #{specifyOrg},
                #{startTime}, #{processStatus})
    </insert>
    <insert id="insertSelectiveReturnId" keyColumn="id" keyProperty="id"
            parameterType="com.platon.datum.admin.dao.entity.AuthorityBusiness" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into authority_business
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">
                `type`,
            </if>
            <if test="relationId != null">
                `relation_id`,
            </if>
            <if test="applyOrg != null">
                apply_org,
            </if>
            <if test="specifyOrg != null">
                specify_org,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="processStatus != null">
                process_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">
                #{type},
            </if>
            <if test="relationId != null">
                #{relationId},
            </if>
            <if test="applyOrg != null">
                #{applyOrg},
            </if>
            <if test="specifyOrg != null">
                #{specifyOrg},
            </if>
            <if test="startTime != null">
                #{startTime},
            </if>
            <if test="processStatus != null">
                #{processStatus},
            </if>
        </trim>
    </insert>
    <update id="updateByIdSelective" parameterType="com.platon.datum.admin.dao.entity.AuthorityBusiness">
        <!--@mbg.generated-->
        update authority_business
        <set>
            <if test="type != null">
                `type` = #{type},
            </if>
            <if test="relationId != null">
                `relation_id` = #{relationId},
            </if>
            <if test="applyOrg != null">
                apply_org = #{applyOrg},
            </if>
            <if test="specifyOrg != null">
                specify_org = #{specifyOrg},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="processStatus != null">
                process_status = #{processStatus},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateById" parameterType="com.platon.datum.admin.dao.entity.AuthorityBusiness">
        <!--@mbg.generated-->
        update authority_business
        set `type`         = #{type},
            `relation_id`  = #{relationId},
            apply_org      = #{applyOrg},
            specify_org    = #{specifyOrg},
            start_time     = #{startTime},
            process_status = #{processStatus}
        where id = #{id}
    </update>

    <resultMap id="BaseResultMap_With_IdentityName" type="com.platon.datum.admin.dao.entity.AuthorityBusiness"
               extends="BaseResultMap">
        <result column="apply_org_name" property="dynamicFields.applyOrgName" jdbcType="VARCHAR"/>
        <result column="specify_org_name" property="dynamicFields.specifyOrgName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectTodoList" resultMap="BaseResultMap_With_IdentityName">
        select ab.*,
               go1.node_name as apply_org_name,
               go2.node_name as specify_org_name
        from authority_business ab
                 left join global_org go1 on ab.apply_org = go1.identity_id
                 left join global_org go2 on ab.specify_org = go2.identity_id
        where process_status = 0
        <if test="keyword != null and keyword != ''">
            and (go1.node_name like concat('%', #{keyword}, '%') or go2.node_name like concat('%', #{keyword}, '%'))
        </if>
        order by id desc
    </select>

    <select id="selectTodoCount" resultType="int">
        select count(*)
        from authority_business
        where process_status = 0
    </select>

    <select id="selectDoneList" resultMap="BaseResultMap_With_IdentityName">
        select ab.*,
               go1.node_name as apply_org_name,
               go2.node_name as specify_org_name
        from authority_business ab
                 left join global_org go1 on ab.apply_org = go1.identity_id
                 left join global_org go2 on ab.specify_org = go2.identity_id
        where process_status != 0
        <if test="keyword != null and keyword != ''">
            and (go1.node_name like concat('%', #{keyword}, '%') or go2.node_name like concat('%', #{keyword}, '%'))
        </if>
        order by id desc
    </select>

    <update id="updateProcessStatusById">
        update authority_business
        set process_status = #{status}
        where id = #{id}
    </update>

    <resultMap id="BaseResultMap_With_ProposalInfo" type="com.platon.datum.admin.dao.entity.AuthorityBusiness"
               extends="BaseResultMap">
        <result column="proposal_status" property="dynamicFields.status" jdbcType="INTEGER"/>
        <result column="proposal_submission_bn" property="dynamicFields.submissionBn" jdbcType="VARCHAR"/>
        <result column="proposal_vote_begin_bn" property="dynamicFields.voteBeginBn" jdbcType="VARCHAR"/>
        <result column="proposal_vote_end_bn" property="dynamicFields.voteEndBn" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectProposalTodoList" resultMap="BaseResultMap_With_ProposalInfo">
        select ab.*,
               p.status        as proposal_status,
               p.submission_bn as proposal_submission_bn,
               p.vote_begin_bn as proposal_vote_begin_bn,
               p.vote_end_bn   as proposal_vote_end_bn
        from authority_business ab
                 left join proposal p on ab.relation_id = p.id
        where process_status = 0
          and ab.type != 1
        order by id desc
    </select>

    <select id="selectByTypeAndRelationId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from authority_business
        where type = #{type}
          and relation_id = #{relationId}
    </select>

    <update id="updateStatusByTypeAndRelationId">
        update authority_business
        set process_status = #{status}
        where type = #{type}
          and relation_id = #{relationId}
    </update>

    <delete id="deleteWithdrawProposalByProposalIds">
        delete from authority_business
        where type in (101,102)
        and relation_id in
        <foreach collection="proposalIds" item="proposalId" open="(" close=")" separator=",">
            #{proposalId}
        </foreach>
    </delete>

    <select id="selectVCTodoList" resultMap="BaseResultMap">
        select ab.*
        from authority_business ab
        where process_status = 0
          and ab.type = 1
        order by id desc
    </select>
</mapper>