<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.metis.admin.dao.GlobalMetaDataColumnMapper">
  <resultMap id="BaseResultMap" type="com.platon.metis.admin.dao.entity.GlobalMetaDataColumn">
    <id column="meta_data_id" jdbcType="VARCHAR" property="metaDataId" />
    <result column="column_idx" jdbcType="INTEGER" property="columnIdx" />
    <result column="column_name" jdbcType="VARCHAR" property="columnName" />
    <result column="column_type" jdbcType="VARCHAR" property="columnType" />
    <result column="size" jdbcType="BIGINT" property="size" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="visible" jdbcType="VARCHAR" property="visible" />
  </resultMap>
  <sql id="Base_Column_List">
    meta_data_id, column_idx, `column_name`, column_type, `size`, remarks, visible
  </sql>

  <!-- 根据metaDataId进行查询-->
  <select id="selectByMetaDataId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from global_meta_data_column
    where meta_data_id = #{metaDataId}
  </select>

  <!-- 批量删除数据，一次建议最多删除1000条-->
  <delete id="deleteByMetaDataId">
    delete from global_meta_data_column
    where meta_data_id =  #{metaDataId}
  </delete>


  <!-- 批量新增数据，一次建议最多更新1000条-->
  <insert id="batchInsert">
    insert into global_meta_data_column (meta_data_id, column_idx, `column_name`, column_type, `size`, remarks, visible)
    values
    <foreach collection ="globalMetaDataColumnList" item="metaDataColumn" separator =",">
      (#{metaDataColumn.metaDataId,jdbcType=VARCHAR}, #{metaDataColumn.columnIdx,jdbcType=INTEGER}, #{metaDataColumn.columnName,jdbcType=VARCHAR},
      #{metaDataColumn.columnType,jdbcType=VARCHAR}, #{metaDataColumn.size,jdbcType=INTEGER}, #{metaDataColumn.remarks,jdbcType=VARCHAR}, #{metaDataColumn.visible,jdbcType=BIT}
      )
    </foreach>
  </insert>
</mapper>