<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.rosettanet.admin.dao.GlobalPowerMapper">
  <resultMap id="BaseResultMap" type="com.platon.rosettanet.admin.dao.entity.GlobalPower">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="identity_id" jdbcType="VARCHAR" property="identityId" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="total_core" jdbcType="INTEGER" property="totalCore" />
    <result column="total_Memory" jdbcType="BIGINT" property="totalMemory" />
    <result column="total_Bandwidth" jdbcType="BIGINT" property="totalBandwidth" />
    <result column="used_core" jdbcType="INTEGER" property="usedCore" />
    <result column="used_Memory" jdbcType="BIGINT" property="usedMemory" />
    <result column="used_Bandwidth" jdbcType="BIGINT" property="usedBandwidth" />
    <result column="rec_update_time" jdbcType="TIMESTAMP" property="recUpdateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, identity_id,org_name, total_core, total_Memory, total_Bandwidth, used_core, used_Memory,
    used_Bandwidth, rec_update_time
  </sql>

  <!-- 获取全网算力信息-->
  <select id="listGlobalPower"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from global_power
    <if test="keyword != null">
      where identity_id = #{keyword}
    </if>
    order by identity_id
  </select>


  <!-- 批量新增数据，一次建议最多更新1000条-->
  <insert id="batchAddSelective">
    <foreach collection="list" item="globalPower" separator=";">
      insert into global_power
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="globalPower.identityId != null">
          identity_id,
        </if>
        <if test="globalPower.orgName != null">
          org_name,
        </if>
        <if test="globalPower.totalCore != null">
          total_core,
        </if>
        <if test="globalPower.totalMemory != null">
          total_Memory,
        </if>
        <if test="globalPower.totalBandwidth != null">
          total_Bandwidth,
        </if>
        <if test="globalPower.usedCore != null">
          used_core,
        </if>
        <if test="globalPower.usedMemory != null">
          used_Memory,
        </if>
        <if test="globalPower.usedBandwidth != null">
          used_Bandwidth,
        </if>
        <if test="globalPower.recUpdateTime != null">
          rec_update_time,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="globalPower.identityId != null">
          #{globalPower.identityId,jdbcType=VARCHAR},
        </if>
        <if test="globalPower.orgName != null">
          #{globalPower.orgName,jdbcType=VARCHAR},
        </if>
        <if test="globalPower.totalCore != null">
          #{globalPower.totalCore,jdbcType=INTEGER},
        </if>
        <if test="globalPower.totalMemory != null">
          #{globalPower.totalMemory,jdbcType=BIGINT},
        </if>
        <if test="globalPower.totalBandwidth != null">
          #{globalPower.totalBandwidth,jdbcType=BIGINT},
        </if>
        <if test="globalPower.usedCore != null">
          #{globalPower.usedCore,jdbcType=INTEGER},
        </if>
        <if test="globalPower.usedMemory != null">
          #{globalPower.usedMemory,jdbcType=BIGINT},
        </if>
        <if test="globalPower.usedBandwidth != null">
          #{globalPower.usedBandwidth,jdbcType=BIGINT},
        </if>
        <if test="globalPower.recUpdateTime != null">
          #{globalPower.recUpdateTime,jdbcType=TIMESTAMP},
        </if>
      </trim>
    </foreach>
  </insert>


  <!-- 批量更新数据，一次建议最多更新1000条-->
  <update id="batchUpdateByIdentityIdSelective">
    <foreach collection="list" item="globalPower" separator=";">
      update global_power
      <set>
        <if test="globalPower.identityId != null">
          identity_id = #{globalPower.identityId,jdbcType=VARCHAR},
        </if>
        <if test="globalPower.orgName != null">
          identity_id = #{globalPower.orgName,jdbcType=VARCHAR},
        </if>
        <if test="globalPower.totalCore != null">
          total_core = #{globalPower.totalCore,jdbcType=INTEGER},
        </if>
        <if test="globalPower.totalMemory != null">
          total_Memory = #{globalPower.totalMemory,jdbcType=BIGINT},
        </if>
        <if test="globalPower.totalBandwidth != null">
          total_Bandwidth = #{globalPower.totalBandwidth,jdbcType=BIGINT},
        </if>
        <if test="globalPower.usedCore != null">
          used_core = #{globalPower.usedCore,jdbcType=INTEGER},
        </if>
        <if test="globalPower.usedMemory != null">
          used_Memory = #{globalPower.usedMemory,jdbcType=BIGINT},
        </if>
        <if test="globalPower.usedBandwidth != null">
          used_Bandwidth = #{globalPower.usedBandwidth,jdbcType=BIGINT},
        </if>
        <if test="globalPower.recUpdateTime != null">
          rec_update_time = #{globalPower.recUpdateTime,jdbcType=TIMESTAMP},
        </if>
      </set>
      where identity_id = #{globalPower.identityId}
    </foreach>
  </update>

  <!-- 批量删除数据，一次建议最多删除1000条-->
  <delete id="batchDeleteByIdentityId">
    <if test="identityIdList.size() > 0">
      delete from global_power
      where identity_id in
      <foreach collection="list" item="identityId" separator="," open="(" close=")">
        #{identityId}
      </foreach>
    </if>
  </delete>

  <select id="selectAllIdentityId" resultType="java.lang.String">
    select identity_id
    from global_power
  </select>
</mapper>