<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.rosettanet.admin.dao.GlobalMetaDataColumnMapper">
  <resultMap id="BaseResultMap" type="com.platon.rosettanet.admin.dao.entity.GlobalMetaDataColumn">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="meta_data_id" jdbcType="VARCHAR" property="metaDataId" />
    <result column="column_idx" jdbcType="INTEGER" property="columnIdx" />
    <result column="column_name" jdbcType="VARCHAR" property="columnName" />
    <result column="column_type" jdbcType="VARCHAR" property="columnType" />
    <result column="size" jdbcType="BIGINT" property="size" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="visible" jdbcType="VARCHAR" property="visible" />
    <result column="rec_create_time" jdbcType="TIMESTAMP" property="recCreateTime" />
    <result column="rec_update_time" jdbcType="TIMESTAMP" property="recUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, meta_data_id, column_idx, `column_name`, column_type, `size`, remarks, visible, 
    rec_create_time, rec_update_time
  </sql>

  <select id="selectByMetaDataId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from global_meta_data_column
    where meta_data_id = #{metaDataId}
  </select>
</mapper>