<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.metis.admin.dao.GlobalPowerMapper">
  <resultMap id="BaseResultMap" type="com.platon.metis.admin.dao.entity.GlobalPower">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="identity_id" jdbcType="VARCHAR" property="identityId" />
    <result column="memory" jdbcType="BIGINT" property="memory" />
    <result column="core" jdbcType="INTEGER" property="core" />
    <result column="bandwidth" jdbcType="BIGINT" property="bandwidth" />
    <result column="used_memory" jdbcType="BIGINT" property="usedMemory" />
    <result column="used_core" jdbcType="INTEGER" property="usedCore" />
    <result column="used_bandwidth" jdbcType="BIGINT" property="usedBandwidth" />
    <result column="published" jdbcType="BIT" property="published" />
    <result column="publish_at" jdbcType="TIMESTAMP" property="publishAt" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
  </resultMap>

  <sql id="Base_Column_List">
    id, identity_id, memory, core, bandwidth, used_memory, used_core, used_bandwidth, published,
    publish_at, status, update_at
  </sql>

  <!-- 获取全网算力信息-->
  <select id="listGlobalPower"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from global_power
    <if test="keyword != null and keyword != ''">
      where org_name like concat('%',#{keyword},'%')
    </if>
    order by identity_id
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from global_power
    where id = #{id,jdbcType=VARCHAR}
  </select>


  <select id="selectAllPowerId" resultType="java.lang.String">
    select id
    from global_power
  </select>

  <!-- 批量新增数据，一次建议最多更新1000条-->
  <insert id="batchInsert" >
    insert into global_power (id, identity_id, memory,
    core, bandwidth, used_memory,
    used_core, used_bandwidth, published,
    publish_at, status, update_at)
    values
    <foreach collection ="globalPowerList" item="item" separator =",">
      (#{item.id,jdbcType=VARCHAR}, #{item.identityId,jdbcType=VARCHAR}, #{item.memory,jdbcType=BIGINT},
      #{item.core,jdbcType=INTEGER}, #{item.bandwidth,jdbcType=BIGINT}, #{item.usedMemory,jdbcType=BIGINT},
      #{item.usedCore,jdbcType=INTEGER}, #{item.usedBandwidth,jdbcType=BIGINT}, #{item.published,jdbcType=BIT},
      #{item.publishAt,jdbcType=TIMESTAMP}, #{item.status,jdbcType=INTEGER},  #{item.updateAt,jdbcType=TIMESTAMP})
    </foreach>
  </insert>


  <!-- 批量更新数据，一次建议最多更新1000条-->
  <update id="batchUpdate">
    <foreach collection="globalPowerList" item="item" separator=";">
      update global_power
      set identity_id = #{item.identityId,jdbcType=VARCHAR},
      memory = #{item.memory,jdbcType=BIGINT},
      core = #{item.core,jdbcType=INTEGER},
      bandwidth = #{item.bandwidth,jdbcType=BIGINT},
      used_memory = #{item.usedMemory,jdbcType=BIGINT},
      used_core = #{item.usedCore,jdbcType=INTEGER},
      used_bandwidth = #{item.usedBandwidth,jdbcType=BIGINT},
      published = #{item.published,jdbcType=BIT},
      publish_at = #{item.publishAt,jdbcType=TIMESTAMP},
      status= #{item.status,jdbcType=INTEGER},
      update_at= #{item.updateAt,jdbcType=TIMESTAMP}
      where id = #{item.id,jdbcType=VARCHAR}
    </foreach>
  </update>
</mapper>