<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.metis.admin.dao.GlobalMetaDataColumnMapper">
  <resultMap id="BaseResultMap" type="com.platon.metis.admin.dao.entity.GlobalMetaDataColumn">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="file_id" jdbcType="VARCHAR" property="fileId" />
    <result column="column_idx" jdbcType="INTEGER" property="columnIdx" />
    <result column="column_name" jdbcType="VARCHAR" property="columnName" />
    <result column="column_type" jdbcType="VARCHAR" property="columnType" />
    <result column="size" jdbcType="BIGINT" property="size" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="visible" jdbcType="VARCHAR" property="visible" />
    <result column="rec_create_time" jdbcType="TIMESTAMP" property="recCreateTime" />
    <result column="rec_update_time" jdbcType="TIMESTAMP" property="recUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, file_id, column_idx, `column_name`, column_type, `size`, remarks, visible,
    rec_create_time, rec_update_time
  </sql>

  <!-- 根据metaDataId进行查询-->
  <select id="selectByFileId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from global_meta_data_column
    where file_id = #{fileId}
  </select>

  <!-- 批量删除数据，一次建议最多删除1000条-->
  <delete id="batchDeleteByFileId">
    <if test="fileIdList.size() > 0">
      delete from global_meta_data_column
      where file_id in
      <foreach collection="fileIdList" item="fileId" separator="," open="(" close=")">
        #{fileId}
      </foreach>
    </if>
  </delete>

  <!-- 批量更新数据，一次建议最多更新1000条-->
  <update id="batchUpdateByFileIdSelective">
    <foreach collection="columnList" item="metaDataColumn" separator=";">
      update global_meta_data_column
      <set>
        <if test="metaDataColumn.columnIdx != null">
          column_idx = #{metaDataColumn.columnIdx,jdbcType=INTEGER},
        </if>
        <if test="metaDataColumn.columnName != null">
          `column_name` = #{metaDataColumn.columnName,jdbcType=VARCHAR},
        </if>
        <if test="metaDataColumn.columnType != null">
          column_type = #{metaDataColumn.columnType,jdbcType=VARCHAR},
        </if>
        <if test="metaDataColumn.size != null">
          `size` = #{metaDataColumn.size,jdbcType=BIGINT},
        </if>
        <if test="metaDataColumn.remarks != null">
          remarks = #{metaDataColumn.remarks,jdbcType=VARCHAR},
        </if>
        <if test="metaDataColumn.visible != null">
          `visible` = #{metaDataColumn.visible,jdbcType=VARCHAR},
        </if>
        <if test="metaDataColumn.recCreateTime != null">
          rec_create_time = #{metaDataColumn.recCreateTime,jdbcType=TIMESTAMP},
        </if>
        <if test="metaDataColumn.recUpdateTime != null">
          rec_update_time = #{metaDataColumn.recUpdateTime,jdbcType=TIMESTAMP},
        </if>
      </set>
      where file_id = #{metaDataColumn.fileId}
    </foreach>
  </update>

  <!-- 批量新增数据，一次建议最多更新1000条-->
  <insert id="batchAddSelective">
    <foreach collection="columnList" item="metaDataColumn" separator=";">
      insert into global_meta_data_column
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="metaDataColumn.fileId != null">
          file_id,
        </if>
        <if test="metaDataColumn.columnIdx != null">
          column_idx,
        </if>
        <if test="metaDataColumn.columnName != null">
          `column_name`,
        </if>
        <if test="metaDataColumn.columnType != null">
          column_type,
        </if>
        <if test="metaDataColumn.size != null">
          `size`,
        </if>
        <if test="metaDataColumn.remarks != null">
          remarks,
        </if>
        <if test="metaDataColumn.visible != null">
          `visible`,
        </if>
        <if test="metaDataColumn.recCreateTime != null">
          rec_create_time,
        </if>
        <if test="metaDataColumn.recUpdateTime != null">
          rec_update_time,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="metaDataColumn.fileId != null">
          #{metaDataColumn.fileId,jdbcType=VARCHAR},
        </if>
        <if test="metaDataColumn.columnIdx != null">
          #{metaDataColumn.columnIdx,jdbcType=INTEGER},
        </if>
        <if test="metaDataColumn.columnName != null">
          #{metaDataColumn.columnName,jdbcType=VARCHAR},
        </if>
        <if test="metaDataColumn.columnType != null">
          #{metaDataColumn.columnType,jdbcType=VARCHAR},
        </if>
        <if test="metaDataColumn.size != null">
          #{metaDataColumn.size,jdbcType=BIGINT},
        </if>
        <if test="metaDataColumn.remarks != null">
          #{metaDataColumn.remarks,jdbcType=VARCHAR},
        </if>
        <if test="metaDataColumn.visible != null">
          #{metaDataColumn.visible,jdbcType=VARCHAR},
        </if>
        <if test="metaDataColumn.recCreateTime != null">
          #{metaDataColumn.recCreateTime,jdbcType=TIMESTAMP},
        </if>
        <if test="metaDataColumn.recUpdateTime != null">
          #{metaDataColumn.recUpdateTime,jdbcType=TIMESTAMP},
        </if>
      </trim>
    </foreach>
  </insert>
</mapper>