<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.metis.admin.dao.GlobalDataFileMapper">
  <resultMap id="BaseResultMap" type="com.platon.metis.admin.dao.entity.GlobalDataFile">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="identity_id" jdbcType="VARCHAR" property="identityId" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="file_id" jdbcType="VARCHAR" property="fileId" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="file_type" jdbcType="VARCHAR" property="fileType" />
    <result column="resource_name" jdbcType="VARCHAR" property="resourceName" />
    <result column="size" jdbcType="BIGINT" property="size" />
    <result column="rows" jdbcType="BIGINT" property="rows" />
    <result column="columns" jdbcType="INTEGER" property="columns" />
    <result column="has_title" jdbcType="TINYINT" property="hasTitle" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="meta_data_id" jdbcType="VARCHAR" property="metaDataId" />
    <result column="rec_create_time" jdbcType="TIMESTAMP" property="recCreateTime" />
    <result column="rec_update_time" jdbcType="TIMESTAMP" property="recUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, identity_id,org_name, file_id, file_name, file_path, file_type, resource_name, `size`,
    `rows`, `columns`, has_title, remarks, `status`, publish_time, meta_data_id, rec_create_time, rec_update_time
  </sql>

  <!-- 获取所有文件信息-->
  <select id="listDataFile"  resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List" />
    from
        global_data_file
    <where>
      <if test="keyword != null and keyword != ''">
        resource_name like concat('%',#{keyword},'%')
      </if>
    </where>
    order by publish_time desc
  </select>

  <!-- 根据id查询出指定的数据-->
  <select id="selectById" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from global_data_file
    where id = #{id}
  </select>

  <!-- 根据metaDataId进行选择性更新-->
  <update id="updateByMetaDataIdSelective" parameterType="com.platon.metis.admin.dao.entity.GlobalDataFile">
    update global_data_file
    <set>
      <if test="resourceName != null">
        `resource_name` = #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="recUpdateTime != null">
        rec_update_time = #{recUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where meta_data_id = #{metaDataId,jdbcType=VARCHAR}
  </update>

  <!-- 批量更新数据，一次建议最多更新1000条-->
  <update id="batchUpdateByFileIdSelective">
    <foreach collection="localDataFileList" item="globalDataFile" separator=";">
      update global_data_file
      <set>
        <if test="globalDataFile.identityId != null">
          identity_id = #{globalDataFile.identityId,jdbcType=VARCHAR},
        </if>
        <if test="globalDataFile.orgName != null">
          org_name = #{globalDataFile.orgName,jdbcType=VARCHAR},
        </if>
        <if test="globalDataFile.fileId != null">
          file_id = #{globalDataFile.fileId,jdbcType=VARCHAR},
        </if>
        <if test="globalDataFile.fileName != null">
          file_name = #{globalDataFile.fileName,jdbcType=VARCHAR},
        </if>
        <if test="globalDataFile.filePath != null">
          file_path = #{globalDataFile.filePath,jdbcType=VARCHAR},
        </if>
        <if test="globalDataFile.fileType != null">
          file_type = #{globalDataFile.fileType,jdbcType=VARCHAR},
        </if>
        <if test="globalDataFile.resourceName != null">
          resource_name = #{globalDataFile.resourceName,jdbcType=VARCHAR},
        </if>
        <if test="globalDataFile.size != null">
          `size` = #{globalDataFile.size,jdbcType=BIGINT},
        </if>
        <if test="globalDataFile.rows != null">
          `rows` = #{globalDataFile.rows,jdbcType=BIGINT},
        </if>
        <if test="globalDataFile.columns != null">
          `columns` = #{globalDataFile.columns,jdbcType=INTEGER},
        </if>
        <if test="globalDataFile.hasTitle != null">
          has_title = #{globalDataFile.hasTitle,jdbcType=TINYINT},
        </if>
        <if test="globalDataFile.remarks != null">
          remarks = #{globalDataFile.remarks,jdbcType=VARCHAR},
        </if>
        <if test="globalDataFile.status != null">
          `status` = #{globalDataFile.status,jdbcType=VARCHAR},
        </if>
        <if test="globalDataFile.publishTime != null">
          publish_time = #{globalDataFile.publishTime,jdbcType=TIMESTAMP},
        </if>
        <if test="globalDataFile.metaDataId != null">
          meta_data_id = #{globalDataFile.metaDataId,jdbcType=VARCHAR},
        </if>
        <if test="globalDataFile.recCreateTime != null">
          rec_create_time = #{globalDataFile.recCreateTime,jdbcType=TIMESTAMP},
        </if>
        <if test="globalDataFile.recUpdateTime != null">
          rec_update_time = #{globalDataFile.recUpdateTime,jdbcType=TIMESTAMP},
        </if>
      </set>
      where file_id = #{globalDataFile.fileId,jdbcType=VARCHAR}
    </foreach>
  </update>

  <select id="selectAllFileId" resultType="java.lang.String">
    select file_id
    from global_data_file
  </select>

  <!-- 批量删除数据，一次建议最多删除1000条-->
  <delete id="batchDeleteByFileId">
    <if test="fileIdList.size() > 0">
      delete from global_data_file
      where file_id in
      <foreach collection="fileIdList" item="fileId" separator="," open="(" close=")">
        #{fileId}
      </foreach>
    </if>
  </delete>

  <!-- 批量新增数据，一次建议最多更新1000条-->
  <insert id="batchAddSelective">
    <foreach collection="localDataFileList" item="globalDataFile" separator=";">
      insert into global_data_file
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="globalDataFile.identityId != null">
          identity_id,
        </if>
        <if test="globalDataFile.orgName != null">
          org_name,
        </if>
        <if test="globalDataFile.fileId != null">
          file_id,
        </if>
        <if test="globalDataFile.fileName != null">
          file_name,
        </if>
        <if test="globalDataFile.filePath != null">
          file_path,
        </if>
        <if test="globalDataFile.fileType != null">
          file_type,
        </if>
        <if test="globalDataFile.resourceName != null">
          resource_name,
        </if>
        <if test="globalDataFile.size != null">
          `size`,
        </if>
        <if test="globalDataFile.rows != null">
          `rows`,
        </if>
        <if test="globalDataFile.columns != null">
          `columns`,
        </if>
        <if test="globalDataFile.hasTitle != null">
          has_title,
        </if>
        <if test="globalDataFile.remarks != null">
          remarks,
        </if>
        <if test="globalDataFile.status != null">
          `status`,
        </if>
        <if test="globalDataFile.publishTime != null">
          publish_time,
        </if>
        <if test="globalDataFile.metaDataId != null">
          meta_data_id,
        </if>
        <if test="globalDataFile.recCreateTime != null">
          rec_create_time,
        </if>
        <if test="globalDataFile.recUpdateTime != null">
          rec_update_time,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="globalDataFile.identityId != null">
          #{globalDataFile.identityId,jdbcType=VARCHAR},
        </if>
        <if test="globalDataFile.orgName != null">
          #{globalDataFile.orgName,jdbcType=VARCHAR},
        </if>
        <if test="globalDataFile.fileId != null">
          #{globalDataFile.fileId,jdbcType=VARCHAR},
        </if>
        <if test="globalDataFile.fileName != null">
          #{globalDataFile.fileName,jdbcType=VARCHAR},
        </if>
        <if test="globalDataFile.filePath != null">
          #{globalDataFile.filePath,jdbcType=VARCHAR},
        </if>
        <if test="globalDataFile.fileType != null">
          #{globalDataFile.fileType,jdbcType=VARCHAR},
        </if>
        <if test="globalDataFile.resourceName != null">
          #{globalDataFile.resourceName,jdbcType=VARCHAR},
        </if>
        <if test="globalDataFile.size != null">
          #{globalDataFile.size,jdbcType=BIGINT},
        </if>
        <if test="globalDataFile.rows != null">
          #{globalDataFile.rows,jdbcType=BIGINT},
        </if>
        <if test="globalDataFile.columns != null">
          #{globalDataFile.columns,jdbcType=INTEGER},
        </if>
        <if test="globalDataFile.hasTitle != null">
          #{globalDataFile.hasTitle,jdbcType=TINYINT},
        </if>
        <if test="globalDataFile.remarks != null">
          #{globalDataFile.remarks,jdbcType=VARCHAR},
        </if>
        <if test="globalDataFile.status != null">
          #{globalDataFile.status,jdbcType=VARCHAR},
        </if>
        <if test="globalDataFile.publishTime != null">
          #{globalDataFile.publish_time,jdbcType=TIMESTAMP},
        </if>
        <if test="globalDataFile.metaDataId != null">
          #{globalDataFile.metaDataId,jdbcType=VARCHAR},
        </if>
        <if test="globalDataFile.recCreateTime != null">
          #{globalDataFile.recCreateTime,jdbcType=TIMESTAMP},
        </if>
        <if test="globalDataFile.recUpdateTime != null">
          #{globalDataFile.recUpdateTime,jdbcType=TIMESTAMP},
        </if>
      </trim>
    </foreach>
  </insert>
</mapper>