<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.metis.admin.dao.GlobalDataFileMapper">
  <resultMap id="BaseResultMap" type="com.platon.metis.admin.dao.entity.GlobalDataFile">
    <id column="meta_data_id" jdbcType="VARCHAR" property="metaDataId" />
    <result column="identity_id" jdbcType="VARCHAR" property="identityId" />
    <result column="org_name" jdbcType="VARCHAR" property="orgName" />
    <result column="file_id" jdbcType="VARCHAR" property="fileId" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="file_type" jdbcType="INTEGER" property="fileType" />
    <result column="resource_name" jdbcType="VARCHAR" property="resourceName" />
    <result column="size" jdbcType="BIGINT" property="size" />
    <result column="rows" jdbcType="BIGINT" property="rows" />
    <result column="columns" jdbcType="INTEGER" property="columns" />
    <result column="has_title" jdbcType="TINYINT" property="hasTitle" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    meta_data_id, identity_id,org_name, file_id, file_name, file_path, file_type, resource_name, `size`,
    `rows`, `columns`, has_title, remarks, `status`, publish_time, update_time
  </sql>

  <!-- 获取所有文件信息-->
  <select id="listDataFile"  resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List" />
    from
        global_data_file
    <where>
      <if test="keyword != null and keyword != ''">
        resource_name like concat('%',#{keyword},'%')
      </if>
    </where>
    order by publish_time desc
  </select>

  <select id="selectAllMetaDataId" resultType="java.lang.String">
    select meta_data_id
    from global_data_file
  </select>

  <!-- 根据id查询出指定的数据-->
  <select id="selectByMetaDataId" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from global_data_file
    where meta_data_id = #{metaDataId,jdbcType=VARCHAR}
  </select>

  <!-- 根据metaDataId进行选择性更新-->
  <update id="updateByMetaDataIdSelective" parameterType="com.platon.metis.admin.dao.entity.GlobalDataFile">
    update global_data_file
    <set>
      <if test="resourceName != null">
        `resource_name` = #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where meta_data_id = #{metaDataId,jdbcType=VARCHAR}
  </update>

  <!-- 批量新增数据，一次建议最多更新1000条-->
  <insert id="batchInsert">
    insert into global_data_file (meta_data_id, identity_id,org_name,
    file_id, file_name, file_path, file_type, resource_name, `size`,
    `rows`, `columns`, has_title, remarks, `status`,
    publish_time, update_time)
    values
    <foreach collection ="globalDataFileList" item="item" separator =",">
      (#{item.metaDataId,jdbcType=VARCHAR}, #{item.identityId,jdbcType=VARCHAR}, #{item.orgName,jdbcType=VARCHAR},
      #{item.fileId,jdbcType=VARCHAR}, #{item.fileName,jdbcType=VARCHAR}, #{item.filePath,jdbcType=VARCHAR}, #{item.fileType,jdbcType=INTEGER}, #{item.resourceName,jdbcType=VARCHAR}, #{item.size,jdbcType=BIGINT},
      #{item.rows,jdbcType=BIGINT}, #{item.columns,jdbcType=INTEGER}, #{item.hasTitle,jdbcType=TINYINT}, #{item.remarks,jdbcType=VARCHAR}, #{item.status,jdbcType=INTEGER},
      #{item.publishTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>


  <!-- 批量更新数据，一次建议最多更新1000条-->
  <update id="batchUpdate">
    <foreach collection="globalDataFileList" item="item" separator=";">
      update global_data_file
      set identity_id = #{item.identityId,jdbcType=VARCHAR},
          org_name = #{item.orgName,jdbcType=VARCHAR},
          file_id = #{item.fileId,jdbcType=VARCHAR},
          file_name = #{item.fileName,jdbcType=VARCHAR},
          file_path = #{item.filePath,jdbcType=VARCHAR},
          file_type = #{item.fileType,jdbcType=INTEGER},
          resource_name = #{item.resourceName,jdbcType=VARCHAR},
          `size` = #{item.size,jdbcType=BIGINT},
          `rows` = #{item.rows,jdbcType=BIGINT},
          columns = #{item.columns,jdbcType=INTEGER},
          has_title = #{item.hasTitle,jdbcType=TINYINT},
          remarks = #{item.remarks,jdbcType=VARCHAR},
          status = #{item.status,jdbcType=INTEGER},
          publish_time = #{item.publishTime,jdbcType=TIMESTAMP},
          update_time = #{item.updateTime,jdbcType=TIMESTAMP}
      where meta_data_id = #{item.metaDataId,jdbcType=VARCHAR}
    </foreach>
  </update>

</mapper>