<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.metis.admin.dao.LocalMetaDataMapper">
  <resultMap id="BaseResultMap" type="com.platon.metis.admin.dao.entity.LocalMetaData">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="file_id" jdbcType="VARCHAR" property="fileId" />
    <result column="meta_data_id" jdbcType="VARCHAR" property="metaDataId" />
    <result column="meta_data_name" jdbcType="VARCHAR" property="metaDataName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="industry" jdbcType="INTEGER" property="industry" />
    <result column="rec_create_time" jdbcType="TIMESTAMP" property="recCreateTime" />
    <result column="rec_update_time" jdbcType="TIMESTAMP" property="recUpdateTime" />
    <result column="data_token_id" jdbcType="INTEGER" property="dataTokenId" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="meta_data_type" jdbcType="INTEGER" property="metaDataType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, file_id, meta_data_id, meta_data_name, `status`, publish_time, remarks, industry, rec_create_time,
    rec_update_time,data_token_id,`owner`,meta_data_type
  </sql>


  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from local_meta_data
    where id = #{id,jdbcType=INTEGER}
  </select>



  <select id="selectByMetaDataId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from local_meta_data
    where meta_data_id = #{metaDataId,jdbcType=VARCHAR}
  </select>

  <select id="selectByStatus" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from local_meta_data
    where `status` = #{status,jdbcType=VARCHAR}
  </select>


  <resultMap id="BaseResultMap_for_detail" type="com.platon.metis.admin.dao.entity.LocalMetaData" extends="BaseResultMap">
    <result column="task_count" property="dynamicFields.taskCount" javaType="int" jdbcType="INTEGER"/>
  </resultMap>

  <select id="findWithTaskCount" parameterType="java.lang.Integer" resultMap="BaseResultMap_for_detail">
    select lmd.*, ifnull(t.task_count,0) as task_count
    from local_meta_data lmd
    left join (
      select meta_data_id, count(task_id) task_count
      from task_data_provider
      GROUP BY meta_data_id) t on lmd.meta_data_id = t.meta_data_id
    where lmd.id = #{id,jdbcType=INTEGER}
  </select>


  <resultMap id="BaseResultMap_for_list" type="com.platon.metis.admin.dao.entity.LocalMetaData" extends="BaseResultMap">
    <result column="size" property="dynamicFields.size" javaType="long" jdbcType="BIGINT"/>
    <result column="task_count" property="dynamicFields.taskCount" javaType="int" jdbcType="INTEGER"/>
    <result column="data_token_name" property="dynamicFields.dataTokenName" javaType="java.lang.String" jdbcType="VARCHAR"/>
    <result column="data_token_symbol" property="dynamicFields.dataTokenSymbol" javaType="java.lang.String" jdbcType="VARCHAR"/>
  </resultMap>

  <select id="listMetaData" parameterType="java.lang.String" resultMap="BaseResultMap_for_list">
    SELECT lmd.*, ldf.size, ifnull(t.task_count,0) as task_count, dt.name as data_token_name,dt.symbol as data_token_symbol
    FROM local_meta_data lmd
    join local_data_file ldf on lmd.file_id = ldf.file_id
    left join (
    select meta_data_id, count(task_id) task_count
    from task_data_provider
    GROUP BY meta_data_id) t on lmd.meta_data_id = t.meta_data_id
    left join data_token dt on lmd.data_token_id = dt.id
    where
          lmd.status != 4
          and lmd.`owner` = #{userAddress}
          <if test="status == 1">
            and lmd.status in (8,9,10)
          </if>
          <if test="status == 2">
            and lmd.status in (0,1,2,3,5,6,7)
          </if>
          <if test="keyword != null and keyword != ''">
            and lmd.meta_data_name like concat('%',#{keyword,jdbcType=VARCHAR},'%')
          </if>
    ORDER BY lmd.rec_create_time desc
  </select>


  <!-- 根据resourceName查询数据文件-->
  <select id="checkResourceName" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from local_meta_data
    where meta_data_name = #{resourceName} and status != 4
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    update local_meta_data
    set status = 4
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.platon.metis.admin.dao.entity.LocalMetaData" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into local_meta_data (file_id, meta_data_id,meta_data_name, status, publish_time,
      remarks, industry,owner,meta_data_type
      )
    values (#{fileId,jdbcType=INTEGER}, #{metaDataId,jdbcType=VARCHAR},
      #{metaDataName,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{publishTime,jdbcType=TIMESTAMP},
      #{remarks,jdbcType=VARCHAR}, #{industry,jdbcType=INTEGER},#{owner},#{metaDataType}
      )
  </insert>


  <update id="updateByPrimaryKey" parameterType="com.platon.metis.admin.dao.entity.LocalMetaData">
    update local_meta_data
    set file_id = #{fileId,jdbcType=VARCHAR},
      meta_data_id = #{metaDataId,jdbcType=VARCHAR},
      meta_data_name = #{metaDataName,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateStatusById">
    update local_meta_data
    set status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateStatusByMetaDataIdBatch">
    <foreach collection="localMetaDataList" item="item" separator=";">
      update local_meta_data
      set status = #{item.status,jdbcType=INTEGER},
          publish_time =  #{item.publishTime,jdbcType=TIMESTAMP},
          rec_update_time =  #{item.recUpdateTime,jdbcType=TIMESTAMP}
      where meta_data_id = #{item.metaDataId,jdbcType=VARCHAR} and status in (0,1,2,3,4,5,6)
    </foreach>
  </update>

  <update id="updateDataTokenIdById">
    update local_meta_data
    set data_token_id = #{dataTokenId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="listUnBindMetaData" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from local_meta_data
    where status in (2,7) and owner = #{userAddress}
    <if test="keyword != null and keyword != ''">
      and meta_data_name like concat('%',#{keyword,jdbcType=VARCHAR},'%')
    </if>
    ORDER BY rec_update_time desc
  </select>
</mapper>