<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.metis.admin.dao.LocalDataFileColumnMapper">
    <resultMap id="BaseResultMap" type="com.platon.metis.admin.dao.entity.LocalDataFileColumn">
        <id column="file_id" jdbcType="VARCHAR" property="fileId" />
        <id column="column_idx" jdbcType="INTEGER" property="columnIdx" />
        <result column="column_name" jdbcType="VARCHAR" property="columnName" />
        <result column="column_type" jdbcType="VARCHAR" property="columnType" />
        <result column="size" jdbcType="BIGINT" property="size" />
        <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    </resultMap>
    <sql id="Base_Column_List">
        file_id, column_idx, `column_name`, column_type, `size`, remarks
    </sql>

    <!-- 根据fileId进行查询-->
    <select id="listByFileId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from local_data_file_column
        where file_id = #{fileId}
    </select>

    <insert id="insertBatch" parameterType="com.platon.metis.admin.dao.entity.LocalDataFileColumn">
        insert into local_data_file_column (file_id, column_idx, `column_name`, column_type, `size`, remarks)
        values
        <foreach collection ="columnList" item="column" separator =",">
            (#{column.fileId},#{column.columnIdx,jdbcType=INTEGER},
            #{column.columnName,jdbcType=VARCHAR}, #{column.columnType,jdbcType=VARCHAR}, #{column.size,jdbcType=BIGINT},
            #{column.remarks,jdbcType=VARCHAR})
        </foreach>
    </insert>
</mapper>