<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.metis.admin.dao.LocalSeedNodeMapper">

  <resultMap id="BaseResultMap" type="com.platon.metis.admin.dao.entity.LocalSeedNode">
    <id column="seed_node_id" jdbcType="INTEGER" property="seedNodeId" />
    <result column="conn_status" jdbcType="INTEGER" property="connStatus" />
    <result column="init_flag" jdbcType="INTEGER" property="initFlag" />
  </resultMap>

  <sql id="Base_Column_List">
    seed_node_id,
    conn_status,
    init_flag
  </sql>

  <!-- 查询种子节点详情 -->
  <select id="querySeedNodeDetails" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
        <include refid="Base_Column_List" />
    from
        local_seed_node
    where
    seed_node_id = #{seedNodeId, jdbcType=VARCHAR}
  </select>

  <!-- 查询种子节点列表-->
  <select id="querySeedNodeList" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List" />
    from local_seed_node
    order by conn_status asc, init_flag desc
  </select>

  <!-- 删除种子节点 -->
  <delete id="deleteSeedNode" parameterType="java.lang.String">
    delete from local_seed_node where seed_node_id = #{seedNodeid, jdbcType=VARCHAR}
  </delete>

  <!-- 插入种子节点数据 -->
  <insert id="insertSeedNode" parameterType="com.platon.metis.admin.dao.entity.LocalSeedNode">
    insert into local_seed_node
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seedNodeId != null">seed_node_id,</if>
      <if test="connStatus != null">conn_status,</if>
      <if test="initFlag != null">init_flag,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seedNodeId != null">#{seedNodeId, jdbcType=VARCHAR},</if>
      <if test="connStatus != null">#{connStatus, jdbcType=INTEGER},</if>
      <if test="initFlag != null">#{initFlag, jdbcType=INTEGER},</if>
    </trim>
  </insert>


  <!-- 批量修改种子节点-->
  <update id="updateSeedNodeBatch" parameterType="java.util.List">
    <foreach collection="list" item="item" separator=";">
      update local_seed_node
      <set>
        <if test="item.connStatus != null">conn_status = #{item.connStatus, jdbcType=INTEGER},</if>
        <if test="item.initFlag != null">init_flag = #{item.initFlag, jdbcType=INTEGER},</if>
      </set>
      where seed_node_id = #{seedNodeid, jdbcType=VARCHAR}
    </foreach>
  </update>

</mapper>