<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.rosettanet.admin.dao.LocalPowerJoinTaskMapper">

  <resultMap id="BaseResultMap" type="com.platon.rosettanet.admin.dao.entity.LocalPowerJoinTask">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="power_node_id" jdbcType="VARCHAR" property="powerNodeId" />
    <result column="task_id" jdbcType="VARCHAR" property="taskId" />
    <result column="task_name" jdbcType="VARCHAR" property="taskName" />
    <result column="owner_identity_id" jdbcType="VARCHAR" property="ownerIdentityId" />
    <result column="owner_identity_name" jdbcType="VARCHAR" property="ownerIdentityName" />
    <result column="task_start_time" jdbcType="TIMESTAMP" property="taskStartTime" />
    <result column="result_side_id" jdbcType="VARCHAR" property="resultSideId" />
    <result column="result_side_name" jdbcType="VARCHAR" property="resultSideName" />
    <result column="coordinate_side_id" jdbcType="VARCHAR" property="coordinateSideId" />
    <result column="coordinate_side_name" jdbcType="VARCHAR" property="coordinateSideName" />
    <result column="used_memory" jdbcType="BIGINT" property="usedMemory" />
    <result column="used_core" jdbcType="INTEGER" property="usedCore" />
    <result column="used_bandwidth" jdbcType="BIGINT" property="usedBandwidth" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id,
    power_node_id,
    task_id,
    task_name,
    owner_identity_id,
    owner_identity_name,
    task_start_time,
    result_side_id,
    result_side_name,
    coordinate_side_id,
    coordinate_side_name,
    used_memory,
    used_core,
    used_bandwidth,
    create_time,
    update_time
  </sql>

  <!-- 通过计算节点参数任务详情 -->
  <select id="queryPowerJoinTaskList" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
        <include refid="Base_Column_List" />
    from
        local_power_join_task
    where
        power_node_id = #{powerNodeId, jdbcType=VARCHAR}
  </select>

  <!-- 插入计算节点数据 -->
  <insert id="batchInsertPowerTask">
    <foreach collection="list" item="localPowerTask" separator=";">
      insert into local_power_join_task
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">id,</if>
        <if test="powerNodeId != null">power_node_id,</if>
        <if test="taskId != null">task_id,</if>
        <if test="taskName != null">task_name,</if>
        <if test="ownerIdentityId != null">owner_identity_id,</if>
        <if test="ownerIdentityName != null">owner_identity_name,</if>
        <if test="taskStartTime != null">task_start_time,</if>
        <if test="resultSideId != null">result_side_id,</if>
        <if test="resultSideName != null">result_side_name,</if>
        <if test="coordinateSideId != null">coordinate_side_id,</if>
        <if test="coordinateSideName != null">coordinate_side_name,</if>
        <if test="usedMemory != null">used_memory,</if>
        <if test="usedCore != null">used_core,</if>
        <if test="usedBandwidth != null">used_bandwidth,</if>
        <if test="createTime != null">create_time,</if>
        <if test="updateTime != null">update_time,</if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null"> #{id, jdbcType=INTEGER},</if>
        <if test="powerNodeId != null">#{powerNodeId, jdbcType=VARCHAR},</if>
        <if test="taskId != null">#{taskId, jdbcType=VARCHAR},</if>
        <if test="taskName != null">#{taskName, jdbcType=VARCHAR},</if>
        <if test="ownerIdentityId != null">#{ownerIdentityId, jdbcType=VARCHAR},</if>
        <if test="ownerIdentityName != null">#{ownerIdentityName, jdbcType=VARCHAR},</if>
        <if test="taskStartTime != null">#{taskStartTime, jdbcType=TIMESTAMP},</if>
        <if test="resultSideId != null">#{resultSideId, jdbcType=VARCHAR},</if>
        <if test="resultSideName != null">#{resultSideName, jdbcType=VARCHAR},</if>
        <if test="coordinateSideId != null">#{coordinateSideId, jdbcType=VARCHAR},</if>
        <if test="coordinateSideName != null">#{coordinateSideName, jdbcType=VARCHAR},</if>
        <if test="usedMemory != null">#{usedMemory, jdbcType=BIGINT},</if>
        <if test="usedCore != null">#{usedCore, jdbcType=INTEGER},</if>
        <if test="usedBandwidth != null">#{usedBandwidth, jdbcType=BIGINT},</if>
        <if test="createTime != null">#{createTime, jdbcType=TIMESTAMP},</if>
        <if test="updateTime != null">#{updateTime, jdbcType=TIMESTAMP},</if>
      </trim>
    </foreach>
  </insert>

</mapper>