<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.rosettanet.admin.dao.LocalPowerNodeMapper">

  <resultMap id="BaseResultMap" type="com.platon.rosettanet.admin.dao.entity.LocalPowerNode">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="identity_id" jdbcType="VARCHAR" property="identityId" />
    <result column="power_node_id" jdbcType="VARCHAR" property="powerNodeId" />
    <result column="power_node_name" jdbcType="VARCHAR" property="powerNodeName" />
    <result column="internal_ip" jdbcType="VARCHAR" property="internalIp" />
    <result column="internal_port" jdbcType="INTEGER" property="internalPort" />
    <result column="external_ip" jdbcType="VARCHAR" property="externalIp" />
    <result column="external_port" jdbcType="INTEGER" property="externalPort" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="conn_message" jdbcType="VARCHAR" property="connMessage" />
    <result column="power_id" jdbcType="VARCHAR" property="powerId" />
    <result column="power_status" jdbcType="VARCHAR" property="powerStatus" />
    <result column="conn_time" jdbcType="TIMESTAMP" property="connTime" />
    <result column="conn_status" jdbcType="VARCHAR" property="connStatus" />
    <result column="memory" jdbcType="BIGINT" property="memory" />
    <result column="core" jdbcType="INTEGER" property="core" />
    <result column="bandwidth" jdbcType="BIGINT" property="bandwidth" />
    <result column="used_memory" jdbcType="BIGINT" property="usedMemory" />
    <result column="used_core" jdbcType="INTEGER" property="usedCore" />
    <result column="used_bandwidth" jdbcType="BIGINT" property="usedBandwidth" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id,
    identity_id,
    power_node_id,
    power_node_name,
    internal_ip,
    internal_port,
    external_ip,
    external_port,
    start_time,
    remarks,
    conn_message,
    power_id,
    power_status,
    conn_time,
    conn_status,
    memory,
    core,
    bandwidth,
    used_memory,
    used_core,
    used_bandwidth,
    create_time,
    update_time
  </sql>

  <!-- 查询计算节点详情 -->
  <select id="queryPowerNodeDetails" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
        <include refid="Base_Column_List" />
    from
        local_power_node
    where
        power_node_id = #{powerNodeId, jdbcType=VARCHAR}
  </select>

  <!-- 查询计算节点是否被占用 -->
  <select id="queryPowerNodeUsing" parameterType="java.lang.String" resultType="java.lang.Integer">
    select
        count(1)
    from
        local_power_node
    where 1=1
        and conn_status != "-1"
        and power_status != "release"
        and power_node_id = #{powerNodeId, jdbcType=VARCHAR}

  </select>

  <!-- 校验计算节点名称 -->
  <select id="checkPowerNodeName" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(1) from local_power_node where power_node_Name = #{powerNodeName, jdbcType=VARCHAR}
  </select>

  <!-- 通过组织机构id查询计算节点-->
  <select id="queryPowerNodeList" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List" />
    from
        local_power_node
    where 1=1
        <if test="identityId != null and identityId != ''"> and identity_id = #{identityId, jdbcType=VARCHAR}</if>
        <if test="keyword != null and keyword != ''">and power_node_name like concat('%', #{keyword, jdbcType=VARCHAR}, '%')</if>
  </select>

  <!-- 根据节点id删除计算节点 -->
  <delete id="deletePowerNode" parameterType="java.lang.String">
    delete from local_power_node where power_node_id = #{powerNodeId, jdbcType=VARCHAR}
  </delete>

  <!-- 插入计算节点数据 -->
  <insert id="insertPowerNode" parameterType="com.platon.rosettanet.admin.dao.entity.LocalPowerNode">
    insert into local_power_node
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">id,</if>
      <if test="identityId != null">identity_id,</if>
      <if test="powerNodeId != null">power_node_id,</if>
      <if test="powerNodeName != null">power_node_name,</if>
      <if test="internalIp != null">internal_ip,</if>
      <if test="internalPort != null">internal_port,</if>
      <if test="externalIp != null">external_ip,</if>
      <if test="externalPort != null">external_port,</if>
      <if test="startTime != null">start_time,</if>
      <if test="remarks != null">remarks,</if>
      <if test="connMessage != null">conn_message,</if>
      <if test="powerId != null">power_id,</if>
      <if test="powerStatus != null">power_status,</if>
      <if test="connTime != null">conn_time,</if>
      <if test="connStatus != null">conn_status,</if>
      <if test="memory != null">memory,</if>
      <if test="core != null">core,</if>
      <if test="bandwidth != null">bandwidth,</if>
      <if test="usedMemory != null">used_memory,</if>
      <if test="usedCore != null">used_core,</if>
      <if test="usedBandwidth != null">used_bandwidth,</if>
      <if test="createTime != null">create_time,</if>
      <if test="updateTime != null">update_time,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null"> #{id, jdbcType=INTEGER},</if>
      <if test="identityId != null">#{identityId, jdbcType=VARCHAR},</if>
      <if test="powerNodeId != null">#{powerNodeId, jdbcType=VARCHAR},</if>
      <if test="powerNodeName != null">#{powerNodeName, jdbcType=VARCHAR},</if>
      <if test="internalIp != null">#{internalIp, jdbcType=VARCHAR},</if>
      <if test="internalPort != null">#{internalPort, jdbcType=INTEGER},</if>
      <if test="externalIp != null">#{externalIp, jdbcType=VARCHAR},</if>
      <if test="externalPort != null">#{externalPort, jdbcType=INTEGER},</if>
      <if test="startTime != null">#{startTime, jdbcType=TIMESTAMP},</if>
      <if test="remarks != null">#{remarks, jdbcType=VARCHAR},</if>
      <if test="connMessage != null">#{connMessage, jdbcType=VARCHAR},</if>
      <if test="powerId != null">#{powerId, jdbcType=VARCHAR},</if>
      <if test="powerStatus != null">#{powerStatus, jdbcType=VARCHAR},</if>
      <if test="connTime != null">#{connTime, jdbcType=TIMESTAMP},</if>
      <if test="connStatus != null">#{connStatus, jdbcType=VARCHAR},</if>
      <if test="memory != null">#{memory, jdbcType=BIGINT},</if>
      <if test="core != null">#{core, jdbcType=INTEGER},</if>
      <if test="bandwidth != null">#{bandwidth, jdbcType=BIGINT},</if>
      <if test="usedMemory != null">#{usedMemory, jdbcType=BIGINT},</if>
      <if test="usedCore != null">#{usedCore, jdbcType=INTEGER},</if>
      <if test="usedBandwidth != null">#{usedBandwidth, jdbcType=BIGINT},</if>
      <if test="createTime != null">#{createTime, jdbcType=TIMESTAMP},</if>
      <if test="updateTime != null">#{updateTime, jdbcType=TIMESTAMP},</if>
    </trim>
  </insert>

  <!-- 根据节点id修改计算节点数据 -->
  <update id="updatePowerNodeByNodeId" parameterType="com.platon.rosettanet.admin.dao.entity.LocalPowerNode">
    update local_power_node
    <set>
      <if test="identityId != null">identity_id = #{identityId, jdbcType=VARCHAR},</if>
      <if test="powerNodeName != null">power_node_name = #{powerNodeName, jdbcType=VARCHAR},</if>
      <if test="internalIp != null">internal_ip = #{internalIp, jdbcType=VARCHAR},</if>
      <if test="internalPort != null">internal_port = #{internalPort, jdbcType=INTEGER},</if>
      <if test="externalIp != null">external_ip = #{externalIp, jdbcType=VARCHAR},</if>
      <if test="externalPort != null">external_port = #{externalPort, jdbcType=INTEGER},</if>
      <if test="startTime != null">start_time = #{startTime, jdbcType=TIMESTAMP},</if>
      <if test="remarks != null">remarks = #{remarks, jdbcType=VARCHAR},</if>
      <if test="connMessage != null">conn_message = #{connMessage, jdbcType=VARCHAR},</if>
      <if test="powerId != null">power_id = #{powerId, jdbcType=VARCHAR},</if>
      <if test="powerStatus != null">power_status = #{powerStatus, jdbcType=VARCHAR},</if>
      <if test="connTime != null">conn_time = #{connTime, jdbcType=TIMESTAMP},</if>
      <if test="connStatus != null">conn_status = #{connStatus, jdbcType=VARCHAR},</if>
      <if test="memory != null">memory = #{memory, jdbcType=BIGINT},</if>
      <if test="core != null">core = #{core, jdbcType=INTEGER},</if>
      <if test="bandwidth != null">bandwidth = #{bandwidth, jdbcType=BIGINT},</if>
      <if test="usedMemory != null">used_memory = #{usedMemory, jdbcType=BIGINT},</if>
      <if test="usedCore != null">used_core = #{usedCore, jdbcType=INTEGER},</if>
      <if test="usedBandwidth != null">used_bandwidth = #{usedBandwidth, jdbcType=BIGINT},</if>
      <if test="createTime != null">create_time = #{createTime, jdbcType=TIMESTAMP},</if>
      <if test="updateTime != null">update_time = #{updateTime, jdbcType=TIMESTAMP},</if>
    </set>
    where power_node_id = #{powerNodeId, jdbcType=VARCHAR}
  </update>

  <!-- 批量修改计算节点信息-->
  <update id="batchUpdatePowerNode" parameterType="java.util.List">
    <foreach collection="list" item="item" separator=";">
      update local_power_node
      <set>
        <if test="item.identityId != null">identity_id = #{item.identityId, jdbcType=VARCHAR},</if>
        <if test="item.powerNodeName != null">power_node_name = #{item.powerNodeName, jdbcType=VARCHAR},</if>
        <if test="item.internalIp != null">internal_ip = #{item.internalIp, jdbcType=VARCHAR},</if>
        <if test="item.internalPort != null">internal_port = #{item.internalPort, jdbcType=INTEGER},</if>
        <if test="item.externalIp != null">external_ip = #{item.externalIp, jdbcType=VARCHAR},</if>
        <if test="item.externalPort != null">external_port = #{item.externalPort, jdbcType=INTEGER},</if>
        <if test="item.startTime != null">start_time = #{item.startTime, jdbcType=TIMESTAMP},</if>
        <if test="item.remarks != null">remarks = #{item.remarks, jdbcType=VARCHAR},</if>
        <if test="item.connMessage != null">conn_message = #{item.connMessage, jdbcType=VARCHAR},</if>
        <if test="item.powerId != null">power_id = #{item.powerId, jdbcType=VARCHAR},</if>
        <if test="item.powerStatus != null">power_status = #{item.powerStatus, jdbcType=VARCHAR},</if>
        <if test="item.connTime != null">conn_time = #{item.connTime, jdbcType=TIMESTAMP},</if>
        <if test="item.connStatus != null">conn_status = #{item.connStatus, jdbcType=VARCHAR},</if>
        <if test="item.memory != null">memory = #{item.memory, jdbcType=BIGINT},</if>
        <if test="item.core != null">core = #{item.core, jdbcType=INTEGER},</if>
        <if test="item.bandwidth != null">bandwidth = #{item.bandwidth, jdbcType=BIGINT},</if>
        <if test="item.usedMemory != null">used_memory = #{item.usedMemory, jdbcType=BIGINT},</if>
        <if test="item.usedCore != null">used_core = #{item.usedCore, jdbcType=INTEGER},</if>
        <if test="item.usedBandwidth != null">used_bandwidth = #{item.usedBandwidth, jdbcType=BIGINT},</if>
        <if test="item.createTime != null">create_time = #{item.createTime, jdbcType=TIMESTAMP},</if>
        <if test="item.updateTime != null">update_time = #{item.updateTime, jdbcType=TIMESTAMP},</if>
      </set>
      where power_node_id = #{item.powerNodeId, jdbcType=VARCHAR}
    </foreach>
  </update>

  <!-- 根据id修改计算节点数据 -->
  <update id="updatePowerNodeById" parameterType="com.platon.rosettanet.admin.dao.entity.LocalPowerNode">
    update local_power_node
    <set>
      <if test="identityId != null">identity_id = #{identityId, jdbcType=VARCHAR},</if>
      <if test="powerNodeId != null">power_node_id = #{powerNodeId, jdbcType=VARCHAR},</if>
      <if test="powerNodeName != null">power_node_name = #{powerNodeName, jdbcType=VARCHAR},</if>
      <if test="internalIp != null">internal_ip = #{internalIp, jdbcType=VARCHAR},</if>
      <if test="internalPort != null">internal_port = #{internalPort, jdbcType=INTEGER},</if>
      <if test="externalIp != null">external_ip = #{externalIp, jdbcType=VARCHAR},</if>
      <if test="externalPort != null">external_port = #{externalPort, jdbcType=INTEGER},</if>
      <if test="startTime != null">start_time = #{startTime, jdbcType=TIMESTAMP},</if>
      <if test="remarks != null">remarks = #{remarks, jdbcType=VARCHAR},</if>
      <if test="connMessage != null">conn_message = #{connMessage, jdbcType=VARCHAR},</if>
      <if test="powerId != null">power_id = #{powerId, jdbcType=VARCHAR},</if>
      <if test="powerStatus != null">power_status = #{powerStatus, jdbcType=VARCHAR},</if>
      <if test="connTime != null">conn_time = #{connTime, jdbcType=TIMESTAMP},</if>
      <if test="connStatus != null">conn_status = #{connStatus, jdbcType=VARCHAR},</if>
      <if test="memory != null">memory = #{memory, jdbcType=BIGINT},</if>
      <if test="core != null">core = #{core, jdbcType=INTEGER},</if>
      <if test="bandwidth != null">bandwidth = #{bandwidth, jdbcType=BIGINT},</if>
      <if test="usedMemory != null">used_memory = #{usedMemory, jdbcType=BIGINT},</if>
      <if test="usedCore != null">used_core = #{usedCore, jdbcType=INTEGER},</if>
      <if test="usedBandwidth != null">used_bandwidth = #{usedBandwidth, jdbcType=BIGINT},</if>
      <if test="createTime != null">create_time = #{createTime, jdbcType=TIMESTAMP},</if>
      <if test="updateTime != null">update_time = #{updateTime, jdbcType=TIMESTAMP},</if>
    </set>
    where id = #{id, jdbcType=INTEGER}
  </update>
</mapper>