<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.metis.admin.dao.LocalPowerJoinTaskMapper">
    <resultMap id="BaseResultMap" type="com.platon.metis.admin.dao.entity.LocalPowerJoinTask">
        <id column="node_id" jdbcType="VARCHAR" property="nodeId"/>
        <id column="task_id" jdbcType="VARCHAR" property="taskId"/>
        <result column="task_name" jdbcType="VARCHAR" property="taskName"/>
        <result column="owner_identity_id" jdbcType="VARCHAR" property="ownerIdentityId"/>
        <result column="owner_identity_name" jdbcType="VARCHAR" property="ownerIdentityName"/>
        <result column="task_start_time" jdbcType="TIMESTAMP" property="taskStartTime"/>
        <result column="result_side_id" jdbcType="VARCHAR" property="resultSideId"/>
        <result column="result_side_name" jdbcType="VARCHAR" property="resultSideName"/>
        <result column="coordinate_side_id" jdbcType="VARCHAR" property="coordinateSideId"/>
        <result column="coordinate_side_name" jdbcType="VARCHAR" property="coordinateSideName"/>
        <result column="used_memory" jdbcType="BIGINT" property="usedMemory"/>
        <result column="used_core" jdbcType="INTEGER" property="usedCore"/>
        <result column="used_bandwidth" jdbcType="BIGINT" property="usedBandwidth"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        node_id,
        task_id,
        task_name,
        owner_identity_id,
        owner_identity_name,
        task_start_time,
        result_side_id,
        result_side_name,
        coordinate_side_id,
        coordinate_side_name,
        used_memory,
        used_core,
        used_bandwidth,
        create_time,
        update_time
    </sql>

    <!-- 通过计算节点参数任务详情 -->
    <!--<select id="listRunningTaskByPowerNodeId" parameterType="java.lang.String" resultMap="BaseResultMap">
      select
          <include refid="Base_Column_List" />
      from
          local_power_join_task
      where
          node_id = #{powerNodeId, jdbcType=VARCHAR}
      order by task_start_time desc
    </select>-->

    <insert id="insertBatch">
        <foreach collection="localPowerJoinTaskList" item="item" separator=",">
            insert into local_power_join_task (node_id,
                                               task_id,
                                               task_name,
                                               owner_identity_id,
                                               owner_identity_name,
                                               task_start_time,
                                               result_side_id,
                                               result_side_name,
                                               coordinate_side_id,
                                               coordinate_side_name,
                                               used_memory,
                                               used_core,
                                               used_bandwidth)
            values (#{item.nodeId, jdbcType=VARCHAR},
                    #{item.taskId, jdbcType=VARCHAR},
                    #{item.taskName, jdbcType=VARCHAR},
                    #{item.ownerIdentityId, jdbcType=VARCHAR},
                    #{item.ownerIdentityName, jdbcType=VARCHAR},
                    #{item.taskStartTime, jdbcType=TIMESTAMP},
                    #{item.resultSideId, jdbcType=VARCHAR},
                    #{item.resultSideName, jdbcType=VARCHAR},
                    #{item.coordinateSideId, jdbcType=VARCHAR},
                    #{item.coordinateSideName, jdbcType=VARCHAR},
                    #{item.usedMemory, jdbcType=BIGINT},
                    #{item.usedCore, jdbcType=INTEGER},
                    #{item.usedBandwidth, jdbcType=BIGINT})
            ON DUPLICATE KEY
                UPDATE task_name            = #{item.taskName, jdbcType=VARCHAR},
                       owner_identity_id    = #{item.ownerIdentityId, jdbcType=VARCHAR},
                       owner_identity_name  = #{item.ownerIdentityName, jdbcType=VARCHAR},
                       task_start_time      = #{item.taskStartTime, jdbcType=TIMESTAMP},
                       result_side_id       = #{item.resultSideId, jdbcType=VARCHAR},
                       result_side_name     = #{item.resultSideName, jdbcType=VARCHAR},
                       coordinate_side_id   = #{item.coordinateSideId, jdbcType=VARCHAR},
                       coordinate_side_name = #{item.coordinateSideName, jdbcType=VARCHAR},
                       used_memory          = #{item.usedMemory, jdbcType=BIGINT},
                       used_core            = #{item.usedCore, jdbcType=INTEGER},
                       used_bandwidth       = #{item.usedBandwidth, jdbcType=BIGINT}
        </foreach>
    </insert>
</mapper>