<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.rosettanet.admin.dao.LocalComputeNodeMapper">
  <resultMap id="BaseResultMap" type="com.platon.rosettanet.admin.dao.entity.LocalComputeNode">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="identity_id" jdbcType="VARCHAR" property="identityId" />
    <result column="node_id" jdbcType="VARCHAR" property="nodeId" />
    <result column="node_name" jdbcType="VARCHAR" property="nodeName" />
    <result column="internal_ip" jdbcType="VARCHAR" property="internalIp" />
    <result column="internal_port" jdbcType="INTEGER" property="internalPort" />
    <result column="external_ip" jdbcType="VARCHAR" property="externalIp" />
    <result column="external_port" jdbcType="INTEGER" property="externalPort" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="conn_status" jdbcType="VARCHAR" property="connStatus" />
    <result column="conn_message" jdbcType="VARCHAR" property="connMessage" />
    <result column="conn_time" jdbcType="TIMESTAMP" property="connTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="memory" jdbcType="BIGINT" property="memory" />
    <result column="core" jdbcType="INTEGER" property="core" />
    <result column="bandwidth" jdbcType="BIGINT" property="bandwidth" />
    <result column="used_memory" jdbcType="BIGINT" property="usedMemory" />
    <result column="used_core" jdbcType="INTEGER" property="usedCore" />
    <result column="used_bandwidth" jdbcType="BIGINT" property="usedBandwidth" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id,
    identity_id,
    node_id,
    node_Name,
    internal_ip,
    internal_port,
    external_ip,
    external_port,
    start_time,
    remarks,
    conn_status,
    conn_message,
    conn_time,
    status,
    memory,
    core,
    bandwidth,
    used_memory,
    used_core,
    used_bandwidth,
    create_time,
    update_time
  </sql>

  <!-- 通过Id查询计算节点 -->
  <select id="selectComputeNodeById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
        <include refid="Base_Column_List" />
    from
        local_compute_node
    where
        id = #{id,jdbcType=INTEGER}
  </select>

  <!-- 删除计算节点 -->
  <delete id="deleteComputeNodeById" parameterType="java.lang.Integer">
    delete from local_compute_node where id = #{id,jdbcType=INTEGER}
  </delete>

  <!-- 插入计算节点数据 -->
  <insert id="insertComputeNode" parameterType="com.platon.rosettanet.admin.dao.entity.LocalComputeNode">
    insert into local_compute_node
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">id,</if>
      <if test="identityId != null">identity_id,</if>
      <if test="nodeId != null">node_id,</if>
      <if test="nodeName != null">node_name,</if>
      <if test="internalIp != null">internal_ip,</if>
      <if test="internalPort != null">internal_port,</if>
      <if test="externalIp != null">external_ip,</if>
      <if test="externalPort != null">external_port,</if>
      <if test="startTime != null">start_time,</if>
      <if test="remarks != null">remarks,</if>
      <if test="connStatus != null">conn_status,</if>
      <if test="connMessage != null">conn_message,</if>
      <if test="connTime != null">conn_time,</if>
      <if test="status != null">status,</if>
      <if test="memory != null">memory,</if>
      <if test="core != null">core,</if>
      <if test="bandwidth != null">bandwidth,</if>
      <if test="usedMemory != null">used_memory,</if>
      <if test="usedCore != null">used_core,</if>
      <if test="usedBandwidth != null">used_bandwidth,</if>
      <if test="createTime != null">create_time,</if>
      <if test="updateTime != null">update_time,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null"> #{id, jdbcType=INTEGER},</if>
      <if test="identityId != null">#{identityId, jdbcType=VARCHAR},</if>
      <if test="nodeId != null">#{nodeId, jdbcType=VARCHAR},</if>
      <if test="nodeName != null">#{nodeName, jdbcType=VARCHAR},</if>
      <if test="internalIp != null">#{internalIp, jdbcType=VARCHAR},</if>
      <if test="internalPort != null">#{internalPort, jdbcType=INTEGER},</if>
      <if test="externalIp != null">#{externalIp, jdbcType=VARCHAR},</if>
      <if test="externalPort != null">#{externalPort, jdbcType=INTEGER},</if>
      <if test="startTime != null">#{startTime, jdbcType=TIMESTAMP},</if>
      <if test="remarks != null">#{remarks, jdbcType=VARCHAR},</if>
      <if test="connStatus != null">#{connStatus, jdbcType=VARCHAR},</if>
      <if test="connMessage != null">#{connMessage, jdbcType=VARCHAR},</if>
      <if test="connTime != null">#{connTime, jdbcType=TIMESTAMP},</if>
      <if test="status != null">#{status, jdbcType=VARCHAR},</if>
      <if test="memory != null">#{memory, jdbcType=BIGINT},</if>
      <if test="core != null">#{core, jdbcType=INTEGER},</if>
      <if test="bandwidth != null">#{bandwidth, jdbcType=BIGINT},</if>
      <if test="usedMemory != null">#{usedMemory, jdbcType=BIGINT},</if>
      <if test="usedCore != null">#{usedCore, jdbcType=INTEGER},</if>
      <if test="usedBandwidth != null">#{usedBandwidth, jdbcType=BIGINT},</if>
      <if test="createTime != null">#{createTime, jdbcType=TIMESTAMP},</if>
      <if test="updateTime != null">#{updateTime, jdbcType=TIMESTAMP},</if>
    </trim>
  </insert>
  <!-- 修改计算节点数据 -->
  <update id="updateComputeNode" parameterType="com.platon.rosettanet.admin.dao.entity.LocalComputeNode">
    update local_compute_node
    <set>
      <if test="identityId != null">identity_id = #{identityId, jdbcType=VARCHAR},</if>
      <if test="nodeId != null">node_id = #{nodeId, jdbcType=VARCHAR},</if>
      <if test="nodeName != null">node_name = #{nodeName, jdbcType=VARCHAR},</if>
      <if test="internalIp != null">internal_ip = #{internalIp, jdbcType=VARCHAR},</if>
      <if test="internalPort != null">internal_port = #{internalPort, jdbcType=INTEGER},</if>
      <if test="externalIp != null">external_ip = #{externalIp, jdbcType=VARCHAR},</if>
      <if test="externalPort != null">external_port = #{externalPort, jdbcType=INTEGER},</if>
      <if test="startTime != null">start_time = #{startTime, jdbcType=TIMESTAMP},</if>
      <if test="remarks != null">remarks = #{remarks, jdbcType=VARCHAR},</if>
      <if test="connStatus != null">conn_status = #{connStatus, jdbcType=VARCHAR},</if>
      <if test="connMessage != null">conn_message = #{connMessage, jdbcType=VARCHAR},</if>
      <if test="connTime != null">conn_time = #{connTime, jdbcType=TIMESTAMP},</if>
      <if test="status != null">status = #{status, jdbcType=VARCHAR},</if>
      <if test="memory != null">memory = #{memory, jdbcType=BIGINT},</if>
      <if test="core != null">core = #{core, jdbcType=INTEGER},</if>
      <if test="bandwidth != null">bandwidth = #{bandwidth, jdbcType=BIGINT},</if>
      <if test="usedMemory != null">used_memory = #{usedMemory, jdbcType=BIGINT},</if>
      <if test="usedCore != null">used_core = #{usedCore, jdbcType=INTEGER},</if>
      <if test="usedBandwidth != null">used_bandwidth = #{usedBandwidth, jdbcType=BIGINT},</if>
      <if test="createTime != null">create_time = #{createTime, jdbcType=TIMESTAMP},</if>
      <if test="updateTime != null">update_time = #{updateTime, jdbcType=TIMESTAMP},</if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>