<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress ALL -->
<mapper namespace="com.platon.rosettanet.admin.dao.LocalOrgMapper">
  <resultMap id="BaseResultMap" type="com.platon.rosettanet.admin.dao.entity.LocalOrg">
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="identity_id" jdbcType="VARCHAR" property="identityId" />
    <result column="carrier_node_id" jdbcType="VARCHAR" property="carrierNodeId" />
    <result column="carrier_ip" jdbcType="VARCHAR" property="carrierIp" />
    <result column="carrier_port" jdbcType="INTEGER" property="carrierPort" />
    <result column="carrier_conn_status" jdbcType="VARCHAR" property="carrierConnStatus" />
    <result column="carrier_conn_time" jdbcType="TIMESTAMP" property="carrierConnTime" />
    <result column="carrier_status" jdbcType="VARCHAR" property="carrierStatus" />
    <result column="rec_update_time" jdbcType="TIMESTAMP" property="recUpdateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    name, identity_id, carrier_node_id, carrier_ip, carrier_port, carrier_conn_status, carrier_conn_time,
    carrier_status, rec_update_time
  </sql>

  <select id="selectAvailableCarrier" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from local_org
    where carrier_conn_status = 'enabled' and carrier_status = 'enabled'
  </select>

  <select id="select" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from local_org
  </select>


  <select id="selectIdentityId" resultType="java.lang.String">
    select identity_id from local_org
  </select>

  <!-- 选择性插入字段-->
  <insert id="insertSelective" parameterType="com.platon.rosettanet.admin.dao.entity.LocalOrg">
    insert into local_org
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="identityId != null">
        identity_id,
      </if>
      <if test="carrierNodeId != null">
        carrier_node_id,
      </if>
      <if test="carrierIp != null">
        carrier_ip,
      </if>
      <if test="carrierPort != null">
        carrier_port,
      </if>
      <if test="carrierConnStatus != null">
        carrier_conn_status,
      </if>
      <if test="carrierConnTime != null">
        carrier_conn_time,
      </if>
      <if test="carrierStatus != null">
        carrier_status,
      </if>
      <if test="recUpdateTime != null">
        rec_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="identityId != null">
        #{identityId,jdbcType=VARCHAR},
      </if>
      <if test="carrierNodeId != null">
        #{carrierNodeId,jdbcType=VARCHAR},
      </if>
      <if test="carrierIp != null">
        #{carrierIp,jdbcType=VARCHAR},
      </if>
      <if test="carrierPort != null">
        #{carrierPort,jdbcType=INTEGER},
      </if>
      <if test="carrierConnStatus != null">
        #{carrierConnStatus,jdbcType=VARCHAR},
      </if>
      <if test="carrierConnTime != null">
        #{carrierConnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="carrierStatus != null">
        #{carrierStatus,jdbcType=VARCHAR},
      </if>
      <if test="recUpdateTime != null">
        #{recUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateSelective" parameterType="com.platon.rosettanet.admin.dao.entity.LocalOrg">
    update local_org
    <set>
      <if test="name != null">
        `name` = #{name},
      </if>
      <if test="identityId != null">
        identity_id = #{identityId},
      </if>
      <if test="carrierNodeId != null">
        carrier_node_id = #{carrierNodeId},
      </if>
      <if test="carrierIp != null">
        carrier_ip = #{carrierIp},
      </if>
      <if test="carrierPort != null">
        carrier_port = #{carrierPort},
      </if>
      <if test="carrierConnStatus != null">
        carrier_conn_status = #{carrierConnStatus},
      </if>
      <if test="carrierConnTime != null">
        carrier_conn_time = #{carrierConnTime},
      </if>
      <if test="carrierStatus != null">
        carrier_status = #{carrierStatus},
      </if>
      <if test="recUpdateTime != null">
        rec_update_time = #{recUpdateTime},
      </if>
    </set>
  </update>
</mapper>