<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress ALL -->
<mapper namespace="com.platon.metis.admin.dao.LocalOrgMapper">
  <resultMap id="BaseResultMap" type="com.platon.metis.admin.dao.entity.LocalOrg">
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="identity_id" jdbcType="VARCHAR" property="identityId" />
    <result column="carrier_node_id" jdbcType="VARCHAR" property="carrierNodeId" />
    <result column="carrier_ip" jdbcType="VARCHAR" property="carrierIp" />
    <result column="carrier_port" jdbcType="INTEGER" property="carrierPort" />
    <result column="carrier_conn_status" jdbcType="VARCHAR" property="carrierConnStatus" />
    <result column="carrier_conn_time" jdbcType="TIMESTAMP" property="carrierConnTime" />
    <result column="conn_node_count" jdbcType="INTEGER" property="connNodeCount" />
    <result column="carrier_status" jdbcType="VARCHAR" property="carrierStatus" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="local_bootstrap_node" jdbcType="VARCHAR" property="localBootstrapNode" />
    <result column="local_multi_addr" jdbcType="VARCHAR" property="localMultiAddr" />
    <result column="rec_update_time" jdbcType="TIMESTAMP" property="recUpdateTime" />
  </resultMap>

  <sql id="Base_Column_List">
  `name`,
  identity_id,
  carrier_node_id,
  carrier_ip,
  carrier_port,
  carrier_conn_status,
  carrier_conn_time,
  conn_node_count,
  carrier_status,
  `status`,
  local_bootstrap_node,
  local_multi_addr,
  rec_update_time
  </sql>

  <select id="selectAvailableCarrier" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from local_org
    where carrier_conn_status = 'enabled' and carrier_status = 'enabled'
  </select>

  <resultMap id="BaseResultMap_runningTask" type="com.platon.metis.admin.dao.entity.LocalOrg" extends="BaseResultMap">
    <result column="running_task" property="dynamicFields.runningTask" jdbcType="BOOLEAN"/>
  </resultMap>

  <select id="select" resultMap="BaseResultMap_runningTask">
    select o.*, t.running_task
    from local_org o, (select count(id) as running_task from local_power_join_task) t
  </select>


  <select id="selectIdentityId" resultType="java.lang.String">
    select identity_id from local_org
  </select>

  <!-- 选择性插入字段-->
  <insert id="insert" parameterType="com.platon.metis.admin.dao.entity.LocalOrg">
    insert into local_org (`name`,
    identity_id,
    carrier_node_id,
    carrier_ip,
    carrier_port,
    carrier_conn_status,
    carrier_conn_time,
    conn_node_count,
    carrier_status,
    `status`,
    local_bootstrap_node,
    local_multi_addr)
    values (
    #{name,jdbcType=VARCHAR},
    #{identityId,jdbcType=VARCHAR},
    #{carrierNodeId,jdbcType=VARCHAR},
    #{carrierIp,jdbcType=VARCHAR},
    #{carrierPort,jdbcType=INTEGER},
    #{carrierConnStatus,jdbcType=VARCHAR},
    #{carrierConnTime,jdbcType=TIMESTAMP},
    #{connNodeCount, jdbcType=INTEGER},
    #{carrierStatus,jdbcType=VARCHAR},
    #{status,jdbcType=INTEGER},
    #{localBootstrapNode,jdbcType=VARCHAR},
    #{localMultiAddr,jdbcType=VARCHAR}
    )
  </insert>

  <update id="update" parameterType="com.platon.metis.admin.dao.entity.LocalOrg">
    update local_org
    set `name` = #{name},
    identity_id = #{identityId},
    carrier_node_id = #{carrierNodeId},
    carrier_ip = #{carrierIp},
    carrier_port = #{carrierPort},
    carrier_conn_status = #{carrierConnStatus},
    carrier_conn_time = #{carrierConnTime},
    conn_node_count = #{connNodeCount},
    carrier_status = #{carrierStatus},
    `status` = #{status},
    local_bootstrap_node = #{localBootstrapNode,jdbcType=VARCHAR},
    local_multi_addr = #{localMultiAddr,jdbcType=VARCHAR},
    rec_update_time = #{recUpdateTime}
  </update>
</mapper>