<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.datum.admin.dao.LocalDataFileMapper">
    <resultMap id="BaseResultMap" type="com.platon.datum.admin.dao.entity.LocalDataFile">
        <id column="file_id" jdbcType="VARCHAR" property="fileId"/>
        <result column="identity_id" jdbcType="VARCHAR" property="identityId"/>
        <result column="file_name" jdbcType="VARCHAR" property="fileName"/>
        <result column="file_path" jdbcType="VARCHAR" property="filePath"/>
        <result column="file_type" jdbcType="VARCHAR" property="fileType"/>
        <result column="size" jdbcType="BIGINT" property="size"/>
        <result column="rows" jdbcType="INTEGER" property="rows"/>
        <result column="columns" jdbcType="INTEGER" property="columns"/>
        <result column="has_title" jdbcType="BIT" property="hasTitle"/>
        <result column="rec_create_time" jdbcType="TIMESTAMP" property="recCreateTime"/>
        <result column="rec_update_time" jdbcType="TIMESTAMP" property="recUpdateTime"/>
        <result column="data_hash" jdbcType="VARCHAR" property="dataHash"/>
        <result column="location_type" jdbcType="INTEGER" property="locationType"/>
    </resultMap>
    <sql id="Base_Column_List">
        identity_id,
        file_id,
        file_name,
        file_path,
        file_type,
        `size`,
        `rows`,
        `columns`,
        has_title,
        rec_create_time,
        rec_update_time,
        data_hash,
        location_type
    </sql>

    <!--  插入新数数据 -->
    <insert id="insert" parameterType="com.platon.datum.admin.dao.entity.LocalDataFile">
        insert into local_data_file (identity_id, file_id, file_name,
                                     file_path, file_type,
                                     `size`, `rows`, `columns`, has_title, data_hash, location_type)
        values (#{identityId,jdbcType=VARCHAR}, #{fileId,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR},
                #{filePath,jdbcType=VARCHAR}, #{fileType,jdbcType=VARCHAR},
                #{size,jdbcType=BIGINT}, #{rows,jdbcType=INTEGER}, #{columns,jdbcType=INTEGER},
                #{hasTitle,jdbcType=BIT}, #{dataHash}, #{locationType})
    </insert>

    <!-- 根据Id查询出指定的数据-->
    <select id="selectByFileId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from local_data_file
        where file_id = #{fileId,jdbcType=VARCHAR}
    </select>
</mapper>