<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.datum.admin.dao.ProposalMapper">
  <resultMap id="BaseResultMap" type="com.platon.datum.admin.dao.entity.Proposal">
    <!--@mbg.generated-->
    <!--@Table proposal-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="submitter" jdbcType="VARCHAR" property="submitter" />
    <result column="candidate" jdbcType="VARCHAR" property="candidate" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="publicity_id" jdbcType="VARCHAR" property="publicityId" />
    <result column="submission_bn" jdbcType="VARCHAR" property="submissionBn" />
    <result column="vote_begin_bn" jdbcType="VARCHAR" property="voteBeginBn" />
    <result column="vote_end_bn" jdbcType="VARCHAR" property="voteEndBn" />
    <result column="auto_quit_bn" jdbcType="VARCHAR" property="autoQuitBn" />
    <result column="vote_agree_number" jdbcType="INTEGER" property="voteAgreeNumber" />
    <result column="authority_number" jdbcType="INTEGER" property="authorityNumber" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, submitter, candidate, `type`, publicity_id, submission_bn, vote_begin_bn, vote_end_bn, 
    auto_quit_bn, vote_agree_number, authority_number, `status`, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from proposal
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from proposal
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.platon.datum.admin.dao.entity.Proposal">
    <!--@mbg.generated-->
    insert into proposal (id, submitter, candidate, 
      `type`, publicity_id, submission_bn, 
      vote_begin_bn, vote_end_bn, auto_quit_bn, 
      vote_agree_number, authority_number, `status`, 
      create_time, update_time)
    values (#{id,jdbcType=VARCHAR}, #{submitter,jdbcType=VARCHAR}, #{candidate,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{publicityId,jdbcType=VARCHAR}, #{submissionBn,jdbcType=VARCHAR}, 
      #{voteBeginBn,jdbcType=VARCHAR}, #{voteEndBn,jdbcType=VARCHAR}, #{autoQuitBn,jdbcType=VARCHAR}, 
      #{voteAgreeNumber,jdbcType=INTEGER}, #{authorityNumber,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.platon.datum.admin.dao.entity.Proposal">
    <!--@mbg.generated-->
    insert into proposal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="submitter != null">
        submitter,
      </if>
      <if test="candidate != null">
        candidate,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="publicityId != null">
        publicity_id,
      </if>
      <if test="submissionBn != null">
        submission_bn,
      </if>
      <if test="voteBeginBn != null">
        vote_begin_bn,
      </if>
      <if test="voteEndBn != null">
        vote_end_bn,
      </if>
      <if test="autoQuitBn != null">
        auto_quit_bn,
      </if>
      <if test="voteAgreeNumber != null">
        vote_agree_number,
      </if>
      <if test="authorityNumber != null">
        authority_number,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="submitter != null">
        #{submitter,jdbcType=VARCHAR},
      </if>
      <if test="candidate != null">
        #{candidate,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="publicityId != null">
        #{publicityId,jdbcType=VARCHAR},
      </if>
      <if test="submissionBn != null">
        #{submissionBn,jdbcType=VARCHAR},
      </if>
      <if test="voteBeginBn != null">
        #{voteBeginBn,jdbcType=VARCHAR},
      </if>
      <if test="voteEndBn != null">
        #{voteEndBn,jdbcType=VARCHAR},
      </if>
      <if test="autoQuitBn != null">
        #{autoQuitBn,jdbcType=VARCHAR},
      </if>
      <if test="voteAgreeNumber != null">
        #{voteAgreeNumber,jdbcType=INTEGER},
      </if>
      <if test="authorityNumber != null">
        #{authorityNumber,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.platon.datum.admin.dao.entity.Proposal">
    <!--@mbg.generated-->
    update proposal
    <set>
      <if test="submitter != null">
        submitter = #{submitter,jdbcType=VARCHAR},
      </if>
      <if test="candidate != null">
        candidate = #{candidate,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="publicityId != null">
        publicity_id = #{publicityId,jdbcType=VARCHAR},
      </if>
      <if test="submissionBn != null">
        submission_bn = #{submissionBn,jdbcType=VARCHAR},
      </if>
      <if test="voteBeginBn != null">
        vote_begin_bn = #{voteBeginBn,jdbcType=VARCHAR},
      </if>
      <if test="voteEndBn != null">
        vote_end_bn = #{voteEndBn,jdbcType=VARCHAR},
      </if>
      <if test="autoQuitBn != null">
        auto_quit_bn = #{autoQuitBn,jdbcType=VARCHAR},
      </if>
      <if test="voteAgreeNumber != null">
        vote_agree_number = #{voteAgreeNumber,jdbcType=INTEGER},
      </if>
      <if test="authorityNumber != null">
        authority_number = #{authorityNumber,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.platon.datum.admin.dao.entity.Proposal">
    <!--@mbg.generated-->
    update proposal
    set submitter = #{submitter,jdbcType=VARCHAR},
      candidate = #{candidate,jdbcType=VARCHAR},
      `type` = #{type,jdbcType=INTEGER},
      publicity_id = #{publicityId,jdbcType=VARCHAR},
      submission_bn = #{submissionBn,jdbcType=VARCHAR},
      vote_begin_bn = #{voteBeginBn,jdbcType=VARCHAR},
      vote_end_bn = #{voteEndBn,jdbcType=VARCHAR},
      auto_quit_bn = #{autoQuitBn,jdbcType=VARCHAR},
      vote_agree_number = #{voteAgreeNumber,jdbcType=INTEGER},
      authority_number = #{authorityNumber,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>