<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.metis.admin.dao.entity.SyncCheckpointMapper">
    <resultMap id="BaseResultMap" type="com.platon.metis.admin.dao.entity.SyncCheckpoint">
        <result column="metadata_auth" jdbcType="TIMESTAMP" property="metadataAuth" />
        <result column="org" jdbcType="TIMESTAMP" property="org" />
        <result column="metadata" jdbcType="TIMESTAMP" property="metadata" />
        <result column="power" jdbcType="TIMESTAMP" property="power" />
        <result column="task" jdbcType="TIMESTAMP" property="task" />
    </resultMap>
    <update id="updateMetadataAuth" >
        update sync_checkpoint
        set metadata_auth = #{checkppint,jdbcType=TIMESTAMP}
    </update>
    <update id="updateOrg" >
        update sync_checkpoint
        set org = #{checkppint,jdbcType=TIMESTAMP}
    </update>
    <update id="updateMetadata" >
        update sync_checkpoint
        set metadata = #{checkppint,jdbcType=TIMESTAMP}
    </update>
    <update id="updatePower" >
        update sync_checkpoint
        set power = #{checkppint,jdbcType=TIMESTAMP}
    </update>
    <update id="updateTask" >
        update sync_checkpoint
        set task = #{checkppint,jdbcType=TIMESTAMP}
    </update>
</mapper>