<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.datum.admin.dao.TaskDataProviderMapper">
    <resultMap id="BaseResultMap" type="com.platon.datum.admin.dao.entity.TaskDataProvider">
        <id column="hash" jdbcType="VARCHAR" property="hash"/>
        <result column="task_id" jdbcType="VARCHAR" property="taskId"/>
        <result column="meta_data_id" jdbcType="VARCHAR" property="metaDataId"/>
        <result column="meta_data_name" jdbcType="VARCHAR" property="metaDataName"/>
        <result column="identity_id" jdbcType="VARCHAR" property="identityId"/>
        <result column="party_id" jdbcType="VARCHAR" property="partyId"/>
        <result column="contract" jdbcType="VARCHAR" property="contract"/>
    </resultMap>
    <sql id="Base_Column_List">
        hash,
        task_id,
        meta_data_id,
        meta_data_name,
        identity_id,
        party_id,
        contract
    </sql>

    <resultMap id="BaseResultMap_With_OrgName" type="com.platon.datum.admin.dao.entity.TaskDataProvider"
               extends="BaseResultMap">
        <result column="org_name" property="dynamicFields.orgName" jdbcType="VARCHAR"/>
        <result column="carrier_node_id" property="dynamicFields.carrierNodeId" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectTaskDataWithOrgByTaskId" parameterType="java.lang.String" resultMap="BaseResultMap_With_OrgName">
        SELECT tdp.*, o.`org_name` AS org_name, o.carrier_node_id AS carrier_node_id
        FROM task_data_provider AS tdp
                 LEFT JOIN task_org AS o ON tdp.identity_id = o.identity_id
        WHERE tdp.task_id = #{taskId,jdbcType=VARCHAR}
    </select>

    <insert id="replaceBatch" parameterType="list">
        replace into task_data_provider (hash, task_id, meta_data_id, meta_data_name, identity_id, party_id,contract)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.hash,jdbcType=VARCHAR}, #{item.taskId,jdbcType=VARCHAR}, #{item.metaDataId,jdbcType=VARCHAR},
             #{item.metaDataName,jdbcType=VARCHAR}, #{item.identityId,jdbcType=VARCHAR},
             #{item.partyId,jdbcType=VARCHAR},#{item.contract,jdbcType=VARCHAR})
        </foreach>
    </insert>
</mapper>