<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.rosettanet.admin.dao.TaskDataReceiverMapper">
  <resultMap id="BaseResultMap" type="com.platon.rosettanet.admin.dao.entity.TaskDataReceiver">
    <id column="task_id" jdbcType="VARCHAR" property="taskId" />
    <id column="meta_data_id" jdbcType="VARCHAR" property="metaDataId" />
    <id column="identity_id" jdbcType="VARCHAR" property="identityId" />
    <id column="meta_data_name" jdbcType="VARCHAR" property="metaDataName" />
    <result column="rec_update_time" jdbcType="TIMESTAMP" property="recUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    task_id, meta_data_id, rec_update_time, identity_id, meta_data_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task_data_provider
    where task_id = #{taskId,jdbcType=VARCHAR}
      and meta_data_id = #{metaDataId,jdbcType=VARCHAR}
  </select>



  <resultMap id="BaseResultMap_With_OrgName" type="com.platon.rosettanet.admin.dao.entity.TaskResultReceiver" extends="BaseResultMap">
    <result column="node_name" property="dynamicFields.nodeName" jdbcType="VARCHAR"/>
    <result column="node_identityId" property="dynamicFields.nodeIdentityId" jdbcType="VARCHAR"/>
    <result column="node_id" property="dynamicFields.nodeId" jdbcType="VARCHAR"/>
  </resultMap>

  <select id="selectTaskDataWithOrgByTaskId" parameterType="java.lang.String" resultMap="BaseResultMap_With_OrgName">
    SELECT tdp.*, o.`name` AS node_name, o.identity_id AS node_identityId, o.carrier_node_id AS node_id
    FROM task_data_provider AS tdp
    LEFT JOIN task_org AS o ON tdp.identity_id = o.identity_id
    WHERE trc.task_id = #{taskId,jdbcType=VARCHAR}
  </select>








  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from task_data_provider
    where task_id = #{taskId,jdbcType=VARCHAR}
      and meta_data_id = #{metaDataId,jdbcType=VARCHAR}
  </delete>


  <insert id="insert" parameterType="com.platon.rosettanet.admin.dao.entity.TaskDataReceiver">
    insert into task_data_provider (task_id, meta_data_id, rec_update_time
      )
    values (#{taskId,jdbcType=VARCHAR}, #{metaDataId,jdbcType=VARCHAR}, #{recUpdateTime,jdbcType=TIMESTAMP}
      )
  </insert>


  <insert id="insertBatch" parameterType="list">
    replace into task (task_id, meta_data_id, rec_update_time, identity_id, meta_data_name)
    values
    <foreach collection ="list" item="item" separator =",">
      (#{taskId,jdbcType=VARCHAR}, #{metaDataId,jdbcType=VARCHAR}, #{recUpdateTime,jdbcType=TIMESTAMP},
      #{identityId,jdbcType=VARCHAR}, #{metaDataName,jdbcType=VARCHAR})
    </foreach>
  </insert>






  <insert id="insertSelective" parameterType="com.platon.rosettanet.admin.dao.entity.TaskDataReceiver">
    insert into task_data_provider
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        task_id,
      </if>
      <if test="metaDataId != null">
        meta_data_id,
      </if>
      <if test="recUpdateTime != null">
        rec_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="metaDataId != null">
        #{metaDataId,jdbcType=VARCHAR},
      </if>
      <if test="recUpdateTime != null">
        #{recUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>



  <update id="updateByPrimaryKeySelective" parameterType="com.platon.rosettanet.admin.dao.entity.TaskDataReceiver">
    update task_data_provider
    <set>
      <if test="recUpdateTime != null">
        rec_update_time = #{recUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where task_id = #{taskId,jdbcType=VARCHAR}
      and meta_data_id = #{metaDataId,jdbcType=VARCHAR}
  </update>



  <update id="updateByPrimaryKey" parameterType="com.platon.rosettanet.admin.dao.entity.TaskDataReceiver">
    update task_data_provider
    set rec_update_time = #{recUpdateTime,jdbcType=TIMESTAMP}
    where task_id = #{taskId,jdbcType=VARCHAR}
      and meta_data_id = #{metaDataId,jdbcType=VARCHAR}
  </update>


  <update id="batchUpdate" parameterType="java.util.List" >
    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
      update task_data_provider
      set task_id = #{taskId,jdbcType=VARCHAR},
      meta_data_id = #{metaDataId,jdbcType=VARCHAR},
      rec_update_time = #{recUpdateTime,jdbcType=TIMESTAMP},
      identity_id = #{identityId,jdbcType=VARCHAR},
      meta_data_name = #{metaDataName,jdbcType=VARCHAR},
      where task_id = #{taskId,jdbcType=VARCHAR}
      and meta_data_id = #{metaDataId,jdbcType=VARCHAR}
    </foreach>
  </update>

</mapper>