<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.metis.admin.dao.TaskPowerProviderMapper">
  <resultMap id="BaseResultMap" type="com.platon.metis.admin.dao.entity.TaskPowerProvider">
    <id column="task_id" jdbcType="VARCHAR" property="taskId" />
    <id column="identity_id" jdbcType="VARCHAR" property="identityId" />
    <result column="party_id" jdbcType="VARCHAR" property="partyId" />
    <result column="used_core" jdbcType="INTEGER" property="usedCore" />
    <result column="total_core" jdbcType="INTEGER" property="totalCore" />
    <result column="used_memory" jdbcType="BIGINT" property="usedMemory" />
    <result column="total_memory" jdbcType="BIGINT" property="totalMemory" />
    <result column="used_Bandwidth" jdbcType="BIGINT" property="usedBandwidth" />
    <result column="total_Bandwidth" jdbcType="BIGINT" property="totalBandwidth" />
  </resultMap>
  <sql id="Base_Column_List">
    task_id, identity_id, party_id, used_core, used_memory, used_Bandwidth
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task_power_provider
    where task_id = #{taskId,jdbcType=VARCHAR}
      and identity_id = #{identityId,jdbcType=VARCHAR}
  </select>



  <resultMap id="BaseResultMap_With_OrgName" type="com.platon.metis.admin.dao.entity.TaskPowerProvider" extends="BaseResultMap">
    <result column="org_name" property="dynamicFields.orgName" jdbcType="VARCHAR"/>
    <result column="carrier_node_id" property="dynamicFields.carrierNodeId" jdbcType="VARCHAR"/>
  </resultMap>

  <select id="selectTaskPowerWithOrgByTaskId" parameterType="java.lang.String" resultMap="BaseResultMap_With_OrgName">
    SELECT tpp.*, o.`org_name` AS org_name, o.carrier_node_id AS carrier_node_id
    FROM task_power_provider AS tpp
    LEFT JOIN task_org AS o ON tpp.identity_id = o.identity_id
    WHERE tpp.task_id = #{taskId,jdbcType=VARCHAR}
  </select>





  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from task_power_provider
    where task_id = #{taskId,jdbcType=VARCHAR}
      and identity_id = #{identityId,jdbcType=VARCHAR}
  </delete>


  <insert id="insert" parameterType="com.platon.metis.admin.dao.entity.TaskPowerProvider">
    insert into task_power_provider (task_id, identity_id, party_id, total_core, used_core,
      total_memory, used_memory, total_Bandwidth, used_Bandwidth)
    values (#{taskId,jdbcType=VARCHAR}, #{identityId,jdbcType=VARCHAR}, #{partyId,jdbcType=VARCHAR},
            #{totalCore,jdbcType=INTEGER}, #{usedCore,jdbcType=INTEGER},
            #{totalMemory,jdbcType=BIGINT}, #{usedMemory,jdbcType=BIGINT},
            #{totalBandwidth,jdbcType=BIGINT}, #{usedBandwidth,jdbcType=BIGINT} )
  </insert>



  <insert id="insertBatch" parameterType="list">
    replace into task_power_provider (task_id, identity_id, party_id, total_core, used_core,
       total_memory, used_memory, total_Bandwidth, used_Bandwidth )
    values
    <foreach collection ="list" item="item" separator =",">
      (#{item.taskId,jdbcType=VARCHAR}, #{item.identityId,jdbcType=VARCHAR}, #{item.partyId,jdbcType=VARCHAR},
       #{item.totalCore,jdbcType=INTEGER}, #{item.usedCore,jdbcType=INTEGER},
       #{item.totalMemory,jdbcType=BIGINT}, #{item.usedMemory,jdbcType=BIGINT},
       #{item.totalBandwidth,jdbcType=BIGINT}, #{item.usedBandwidth,jdbcType=BIGINT})
    </foreach>
  </insert>


  <update id="updateByPrimaryKey" parameterType="com.platon.metis.admin.dao.entity.TaskPowerProvider">
    update task_power_provider
    set
      party_id = #{partyId,jdbcType=VARCHAR},
      total_core = #{totalCore,jdbcType=INTEGER},
      used_core = #{usedCore,jdbcType=INTEGER},
      total_memory = #{totalMemory,jdbcType=BIGINT},
      used_memory = #{usedMemory,jdbcType=BIGINT},
      total_Bandwidth = #{totalBandwidth,jdbcType=BIGINT},
      used_Bandwidth = #{usedBandwidth,jdbcType=BIGINT}
    where task_id = #{taskId,jdbcType=VARCHAR}
      and identity_id = #{identityId,jdbcType=VARCHAR}
  </update>


  <update id="batchUpdate" parameterType="java.util.List" >
    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
      update task_power_provider
      set
      party_id = #{partyId,jdbcType=VARCHAR},
      total_core = #{totalCore,jdbcType=INTEGER},
      used_core = #{usedCore,jdbcType=INTEGER},
      total_memory = #{totalMemory,jdbcType=BIGINT},
      used_memory = #{usedMemory,jdbcType=BIGINT},
      total_Bandwidth = #{totalBandwidth,jdbcType=BIGINT},
      used_Bandwidth = #{usedBandwidth,jdbcType=BIGINT}
      where task_id = #{taskId,jdbcType=VARCHAR}
      and identity_id = #{identityId,jdbcType=VARCHAR}
    </foreach>
  </update>

</mapper>