<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.metis.admin.dao.TaskAlgoProviderMapper">
    <resultMap id="BaseResultMap" type="com.platon.metis.admin.dao.entity.TaskAlgoProvider">
        <id column="task_id" jdbcType="VARCHAR" property="taskId"/>
        <result column="identity_id" jdbcType="VARCHAR" property="identityId"/>
        <result column="party_id" jdbcType="VARCHAR" property="partyId"/>
    </resultMap>
    <sql id="Base_Column_List">
        task_id, identity_id, party_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from task_algo_provider
        where task_id = #{taskId,jdbcType=VARCHAR}
    </select>

    <resultMap id="BaseResultMap_With_OrgName" type="com.platon.metis.admin.dao.entity.TaskAlgoProvider" extends="BaseResultMap">
        <result column="org_name" property="dynamicFields.orgName" jdbcType="VARCHAR"/>
        <result column="carrier_node_id" property="dynamicFields.carrierNodeId" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectTaskAlgoProviderWithOrgNameByTaskId" parameterType="java.lang.String" resultMap="BaseResultMap_With_OrgName">
        select tap.*, o.`name` AS org_name, o.carrier_node_id AS carrier_node_id
        from task_algo_provider tap
        left join task_org o on tap.identity_id = o.identity_id
        where tap.task_id = #{taskId,jdbcType=VARCHAR}
    </select>


    <insert id="insert" parameterType="com.platon.metis.admin.dao.entity.TaskAlgoProvider">
        insert into task_algo_provider (task_id, identity_id, party_id)
        values (#{taskId,jdbcType=VARCHAR}, #{identityId,jdbcType=VARCHAR}, #{partyId,jdbcType=VARCHAR})
    </insert>

    <insert id="insertBatch">
        replace into task_algo_provider (task_id, identity_id, party_id)
        values
        <foreach collection ="list" item="item" separator =",">
            (#{item.taskId,jdbcType=VARCHAR}, #{item.identityId,jdbcType=VARCHAR}, #{item.partyId,jdbcType=VARCHAR})
        </foreach>
    </insert>


</mapper>