<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.metis.admin.dao.TaskDataProviderMapper">
  <resultMap id="BaseResultMap" type="com.platon.metis.admin.dao.entity.TaskDataProvider">
    <id column="task_id" jdbcType="VARCHAR" property="taskId" />
    <id column="meta_data_id" jdbcType="VARCHAR" property="metaDataId" />
    <result column="identity_id" jdbcType="VARCHAR" property="identityId" />
    <result column="party_id" jdbcType="VARCHAR" property="partyId" />
  </resultMap>
  <sql id="Base_Column_List">
    task_id, meta_data_id, identity_id, party_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task_data_provider
    where task_id = #{taskId,jdbcType=VARCHAR}
      and meta_data_id = #{metaDataId,jdbcType=VARCHAR}
  </select>


  <select id="selectTaskByMetaDataId" resultType="java.lang.String">
    SELECT
        tdp.task_id
    FROM
        task_data_provider AS tdp
    WHERE
        tdp.meta_data_id = #{metaDataId,jdbcType=VARCHAR}
  </select>


  <resultMap id="BaseResultMap_With_OrgName" type="com.platon.metis.admin.dao.entity.TaskDataProvider" extends="BaseResultMap">
    <result column="org_name" property="dynamicFields.orgName" jdbcType="VARCHAR"/>
    <result column="carrier_node_id" property="dynamicFields.carrierNodeId" jdbcType="VARCHAR"/>
  </resultMap>

  <select id="selectTaskDataWithOrgByTaskId" parameterType="java.lang.String" resultMap="BaseResultMap_With_OrgName">
    SELECT tdp.*, o.`name` AS org_name, o.carrier_node_id AS carrier_node_id
    FROM task_data_provider AS tdp
    LEFT JOIN task_org AS o ON tdp.identity_id = o.identity_id
    WHERE tdp.task_id = #{taskId,jdbcType=VARCHAR}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from task_data_provider
    where task_id = #{taskId,jdbcType=VARCHAR}
      and meta_data_id = #{metaDataId,jdbcType=VARCHAR}
  </delete>


  <insert id="insert" parameterType="com.platon.metis.admin.dao.entity.TaskDataProvider">
    insert into task_data_provider (task_id, meta_data_id, identity_id, party_id )
    values (#{taskId,jdbcType=VARCHAR}, #{metaDataId,jdbcType=VARCHAR}, #{identityId,jdbcType=VARCHAR}, #{partyId,jdbcType=VARCHAR}}
      )
  </insert>


  <insert id="insertBatch" parameterType="list">
    replace into task_data_provider (task_id, meta_data_id, identity_id, party_id)
    values
    <foreach collection ="list" item="item" separator =",">
      (#{item.taskId,jdbcType=VARCHAR}, #{item.metaDataId,jdbcType=VARCHAR}, #{item.identityId,jdbcType=VARCHAR}, #{item.partyId,jdbcType=VARCHAR})
    </foreach>
  </insert>
</mapper>