<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.rosettanet.admin.dao.TaskEventMapper">
  <resultMap id="BaseResultMap" type="com.platon.rosettanet.admin.dao.entity.TaskEvent">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="task_id" jdbcType="VARCHAR" property="taskId" />
    <result column="event_type" jdbcType="VARCHAR" property="eventType" />
    <result column="identity_id" jdbcType="VARCHAR" property="identityId" />
    <result column="event_at" jdbcType="TIMESTAMP" property="eventAt" />
    <result column="event_content" jdbcType="VARCHAR" property="eventContent" />
    <result column="rec_update_time" jdbcType="TIMESTAMP" property="recUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, task_id, event_type, identity_id, event_at, event_content, rec_update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task_event
    where ID = #{id,jdbcType=BIGINT}
  </select>


  <select id="listTbTaskEventByTaskId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_task_event
    where task_Id = #{taskId,jdbcType=VARCHAR}
  </select>



  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from task_event
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.platon.rosettanet.admin.dao.entity.TaskEvent">
    insert into task_event (ID, task_id, event_type, 
      identity_id, event_at, event_content, 
      rec_update_time)
    values (#{id,jdbcType=BIGINT}, #{taskId,jdbcType=VARCHAR}, #{eventType,jdbcType=VARCHAR}, 
      #{identityId,jdbcType=VARCHAR}, #{eventAt,jdbcType=TIMESTAMP}, #{eventContent,jdbcType=VARCHAR}, 
      #{recUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.platon.rosettanet.admin.dao.entity.TaskEvent">
    insert into task_event
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="taskId != null">
        task_id,
      </if>
      <if test="eventType != null">
        event_type,
      </if>
      <if test="identityId != null">
        identity_id,
      </if>
      <if test="eventAt != null">
        event_at,
      </if>
      <if test="eventContent != null">
        event_content,
      </if>
      <if test="recUpdateTime != null">
        rec_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="eventType != null">
        #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="identityId != null">
        #{identityId,jdbcType=VARCHAR},
      </if>
      <if test="eventAt != null">
        #{eventAt,jdbcType=TIMESTAMP},
      </if>
      <if test="eventContent != null">
        #{eventContent,jdbcType=VARCHAR},
      </if>
      <if test="recUpdateTime != null">
        #{recUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.platon.rosettanet.admin.dao.entity.TaskEvent">
    update task_event
    <set>
      <if test="taskId != null">
        task_id = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="eventType != null">
        event_type = #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="identityId != null">
        identity_id = #{identityId,jdbcType=VARCHAR},
      </if>
      <if test="eventAt != null">
        event_at = #{eventAt,jdbcType=TIMESTAMP},
      </if>
      <if test="eventContent != null">
        event_content = #{eventContent,jdbcType=VARCHAR},
      </if>
      <if test="recUpdateTime != null">
        rec_update_time = #{recUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.platon.rosettanet.admin.dao.entity.TaskEvent">
    update task_event
    set task_id = #{taskId,jdbcType=VARCHAR},
      event_type = #{eventType,jdbcType=VARCHAR},
      identity_id = #{identityId,jdbcType=VARCHAR},
      event_at = #{eventAt,jdbcType=TIMESTAMP},
      event_content = #{eventContent,jdbcType=VARCHAR},
      rec_update_time = #{recUpdateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>