<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.rosettanet.admin.dao.TaskResultReceiverMapper">
  <resultMap id="BaseResultMap" type="com.platon.rosettanet.admin.dao.entity.TaskResultReceiver">
    <id column="task_id" jdbcType="VARCHAR" property="taskId" />
    <id column="consumer_identity_id" jdbcType="VARCHAR" property="consumerIdentityId" />
    <id column="producer_identity_id" jdbcType="VARCHAR" property="producerIdentityId" />
    <result column="rec_update_time" jdbcType="TIMESTAMP" property="recUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    task_id, consumer_identity_id, producer_identity_id, rec_update_time
  </sql>


  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from task_result_consumer
    where task_id = #{taskId,jdbcType=VARCHAR}
      and consumer_identity_id = #{consumerIdentityId,jdbcType=VARCHAR}
      and producer_identity_id = #{producerIdentityId,jdbcType=VARCHAR}
  </select>



  <resultMap id="BaseResultMap_With_OrgName" type="com.platon.rosettanet.admin.dao.entity.TaskResultReceiver" extends="BaseResultMap">
    <result column="node_name" property="dynamicFields.nodeName" jdbcType="VARCHAR"/>
    <result column="node_identityId" property="dynamicFields.nodeIdentityId" jdbcType="VARCHAR"/>
    <result column="node_id" property="dynamicFields.nodeId" jdbcType="VARCHAR"/>
  </resultMap>

  <select id="selectTaskResultWithOrgByTaskId" parameterType="java.lang.String" resultMap="BaseResultMap_With_OrgName">
    SELECT
	    trc.*, o.`name` AS node_name, o.identity_id AS node_identityId, o.carrier_node_id AS node_id
    FROM
        task_result_consumer AS trc
    LEFT JOIN task_org AS o ON trc.consumer_identity_id = o.identity_id
    WHERE trc.task_id = #{taskId,jdbcType=VARCHAR}
  </select>






  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from task_result_consumer
    where task_id = #{taskId,jdbcType=VARCHAR}
      and consumer_identity_id = #{consumerIdentityId,jdbcType=VARCHAR}
      and producer_identity_id = #{producerIdentityId,jdbcType=VARCHAR}
  </delete>


  <insert id="insert" parameterType="com.platon.rosettanet.admin.dao.entity.TaskResultReceiver">
    insert into task_result_consumer (task_id, consumer_identity_id, producer_identity_id, 
      rec_update_time)
    values (#{taskId,jdbcType=VARCHAR}, #{consumerIdentityId,jdbcType=VARCHAR}, #{producerIdentityId,jdbcType=VARCHAR}, 
      #{recUpdateTime,jdbcType=TIMESTAMP})
  </insert>



  <insert id="insertBatch" parameterType="list">
    replace into task_result_consumer (task_id, consumer_identity_id, producer_identity_id,
       rec_update_time)
    values
    <foreach collection ="list" item="item" separator =",">
      (#{item.taskId,jdbcType=VARCHAR}, #{item.consumerIdentityId,jdbcType=VARCHAR}, #{item.producerIdentityId,jdbcType=VARCHAR},
      #{item.recUpdateTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>




  <insert id="insertSelective" parameterType="com.platon.rosettanet.admin.dao.entity.TaskResultReceiver">
    insert into task_result_consumer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        task_id,
      </if>
      <if test="consumerIdentityId != null">
        consumer_identity_id,
      </if>
      <if test="producerIdentityId != null">
        producer_identity_id,
      </if>
      <if test="recUpdateTime != null">
        rec_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="consumerIdentityId != null">
        #{consumerIdentityId,jdbcType=VARCHAR},
      </if>
      <if test="producerIdentityId != null">
        #{producerIdentityId,jdbcType=VARCHAR},
      </if>
      <if test="recUpdateTime != null">
        #{recUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.platon.rosettanet.admin.dao.entity.TaskResultReceiver">
    update task_result_consumer
    <set>
      <if test="recUpdateTime != null">
        rec_update_time = #{recUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where task_id = #{taskId,jdbcType=VARCHAR}
      and consumer_identity_id = #{consumerIdentityId,jdbcType=VARCHAR}
      and producer_identity_id = #{producerIdentityId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.platon.rosettanet.admin.dao.entity.TaskResultReceiver">
    update task_result_consumer
    set rec_update_time = #{recUpdateTime,jdbcType=TIMESTAMP}
    where task_id = #{taskId,jdbcType=VARCHAR}
      and consumer_identity_id = #{consumerIdentityId,jdbcType=VARCHAR}
      and producer_identity_id = #{producerIdentityId,jdbcType=VARCHAR}
  </update>


  <update id="batchUpdate" parameterType="java.util.List" >
    <foreach collection="list" item="item" index="index" open="" close="" separator=";">
      update task_result_consumer
      set rec_update_time = #{recUpdateTime,jdbcType=TIMESTAMP}
      where task_id = #{taskId,jdbcType=VARCHAR}
      and consumer_identity_id = #{consumerIdentityId,jdbcType=VARCHAR}
      and producer_identity_id = #{producerIdentityId,jdbcType=VARCHAR}
    </foreach>
  </update>

</mapper>