<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.rosettanet.admin.dao.TbBaseConfigMapper">
  <resultMap id="BaseResultMap" type="com.platon.rosettanet.admin.dao.entity.TbBaseConfig">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="identity_Id" jdbcType="VARCHAR" property="identityId" />
    <result column="node_Id" jdbcType="VARCHAR" property="nodeId" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="last_Update_Time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, identity_Id, node_Id, status, last_Update_Time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_base_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_base_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.platon.rosettanet.admin.dao.entity.TbBaseConfig">
    insert into tb_base_config (id, name, identity_Id, 
      node_Id, status, last_Update_Time
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{identityId,jdbcType=VARCHAR}, 
      #{nodeId,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.platon.rosettanet.admin.dao.entity.TbBaseConfig">
    insert into tb_base_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="identityId != null">
        identity_Id,
      </if>
      <if test="nodeId != null">
        node_Id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="lastUpdateTime != null">
        last_Update_Time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="identityId != null">
        #{identityId,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null">
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.platon.rosettanet.admin.dao.entity.TbBaseConfig">
    update tb_base_config
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="identityId != null">
        identity_Id = #{identityId,jdbcType=VARCHAR},
      </if>
      <if test="nodeId != null">
        node_Id = #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_Update_Time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.platon.rosettanet.admin.dao.entity.TbBaseConfig">
    update tb_base_config
    set name = #{name,jdbcType=VARCHAR},
      identity_Id = #{identityId,jdbcType=VARCHAR},
      node_Id = #{nodeId,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      last_Update_Time = #{lastUpdateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>