<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.rosettanet.admin.dao.TbDataNodeMapper">
  <resultMap id="BaseResultMap" type="com.platon.rosettanet.admin.dao.entity.TbDataNode">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="node_Id" jdbcType="VARCHAR" property="nodeId" />
    <result column="node_Name" jdbcType="VARCHAR" property="nodeName" />
    <result column="internal_IP" jdbcType="VARCHAR" property="internalIp" />
    <result column="internal_Port" jdbcType="INTEGER" property="internalPort" />
    <result column="external_IP" jdbcType="VARCHAR" property="externalIp" />
    <result column="external_Port" jdbcType="INTEGER" property="externalPort" />
    <result column="conn_Status" jdbcType="CHAR" property="connStatus" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="last_conn_Time" jdbcType="TIMESTAMP" property="lastConnTime" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="create_Time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_Update_Time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, node_Id, node_Name, internal_IP, internal_Port, external_IP, external_Port, conn_Status, 
    status, last_conn_Time, desc, create_Time, last_Update_Time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_data_node
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_data_node
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.platon.rosettanet.admin.dao.entity.TbDataNode">
    insert into tb_data_node (id, node_Id, node_Name, 
      internal_IP, internal_Port, external_IP, 
      external_Port, conn_Status, status, 
      last_conn_Time, desc, create_Time, 
      last_Update_Time)
    values (#{id,jdbcType=INTEGER}, #{nodeId,jdbcType=VARCHAR}, #{nodeName,jdbcType=VARCHAR}, 
      #{internalIp,jdbcType=VARCHAR}, #{internalPort,jdbcType=INTEGER}, #{externalIp,jdbcType=VARCHAR}, 
      #{externalPort,jdbcType=INTEGER}, #{connStatus,jdbcType=CHAR}, #{status,jdbcType=CHAR}, 
      #{lastConnTime,jdbcType=TIMESTAMP}, #{desc,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{lastUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.platon.rosettanet.admin.dao.entity.TbDataNode">
    insert into tb_data_node
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="nodeId != null">
        node_Id,
      </if>
      <if test="nodeName != null">
        node_Name,
      </if>
      <if test="internalIp != null">
        internal_IP,
      </if>
      <if test="internalPort != null">
        internal_Port,
      </if>
      <if test="externalIp != null">
        external_IP,
      </if>
      <if test="externalPort != null">
        external_Port,
      </if>
      <if test="connStatus != null">
        conn_Status,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="lastConnTime != null">
        last_conn_Time,
      </if>
      <if test="desc != null">
        desc,
      </if>
      <if test="createTime != null">
        create_Time,
      </if>
      <if test="lastUpdateTime != null">
        last_Update_Time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nodeId != null">
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null">
        #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="internalIp != null">
        #{internalIp,jdbcType=VARCHAR},
      </if>
      <if test="internalPort != null">
        #{internalPort,jdbcType=INTEGER},
      </if>
      <if test="externalIp != null">
        #{externalIp,jdbcType=VARCHAR},
      </if>
      <if test="externalPort != null">
        #{externalPort,jdbcType=INTEGER},
      </if>
      <if test="connStatus != null">
        #{connStatus,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="lastConnTime != null">
        #{lastConnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.platon.rosettanet.admin.dao.entity.TbDataNode">
    update tb_data_node
    <set>
      <if test="nodeId != null">
        node_Id = #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null">
        node_Name = #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="internalIp != null">
        internal_IP = #{internalIp,jdbcType=VARCHAR},
      </if>
      <if test="internalPort != null">
        internal_Port = #{internalPort,jdbcType=INTEGER},
      </if>
      <if test="externalIp != null">
        external_IP = #{externalIp,jdbcType=VARCHAR},
      </if>
      <if test="externalPort != null">
        external_Port = #{externalPort,jdbcType=INTEGER},
      </if>
      <if test="connStatus != null">
        conn_Status = #{connStatus,jdbcType=CHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="lastConnTime != null">
        last_conn_Time = #{lastConnTime,jdbcType=TIMESTAMP},
      </if>
      <if test="desc != null">
        desc = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_Time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        last_Update_Time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.platon.rosettanet.admin.dao.entity.TbDataNode">
    update tb_data_node
    set node_Id = #{nodeId,jdbcType=VARCHAR},
      node_Name = #{nodeName,jdbcType=VARCHAR},
      internal_IP = #{internalIp,jdbcType=VARCHAR},
      internal_Port = #{internalPort,jdbcType=INTEGER},
      external_IP = #{externalIp,jdbcType=VARCHAR},
      external_Port = #{externalPort,jdbcType=INTEGER},
      conn_Status = #{connStatus,jdbcType=CHAR},
      status = #{status,jdbcType=CHAR},
      last_conn_Time = #{lastConnTime,jdbcType=TIMESTAMP},
      desc = #{desc,jdbcType=VARCHAR},
      create_Time = #{createTime,jdbcType=TIMESTAMP},
      last_Update_Time = #{lastUpdateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>