<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.rosettanet.admin.dao.TbTaskResultReceiverMapper">
  <resultMap id="BaseResultMap" type="com.platon.rosettanet.admin.dao.entity.TbTaskResultReceiver">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="task_Id" jdbcType="VARCHAR" property="taskId" />
    <result column="task_Name" jdbcType="VARCHAR" property="taskName" />
    <result column="owner_Identity" jdbcType="VARCHAR" property="ownerIdentity" />
    <result column="owner_Name" jdbcType="VARCHAR" property="ownerName" />
    <result column="receive_Time" jdbcType="TIMESTAMP" property="receiveTime" />
    <result column="last_Update_Time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, task_Id, task_Name, owner_Identity, owner_Name, receive_Time, last_Update_Time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_task_result_receiver
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_task_result_receiver
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.platon.rosettanet.admin.dao.entity.TbTaskResultReceiver">
    insert into tb_task_result_receiver (id, task_Id, task_Name, 
      owner_Identity, owner_Name, receive_Time, 
      last_Update_Time)
    values (#{id,jdbcType=INTEGER}, #{taskId,jdbcType=VARCHAR}, #{taskName,jdbcType=VARCHAR}, 
      #{ownerIdentity,jdbcType=VARCHAR}, #{ownerName,jdbcType=VARCHAR}, #{receiveTime,jdbcType=TIMESTAMP}, 
      #{lastUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.platon.rosettanet.admin.dao.entity.TbTaskResultReceiver">
    insert into tb_task_result_receiver
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="taskId != null">
        task_Id,
      </if>
      <if test="taskName != null">
        task_Name,
      </if>
      <if test="ownerIdentity != null">
        owner_Identity,
      </if>
      <if test="ownerName != null">
        owner_Name,
      </if>
      <if test="receiveTime != null">
        receive_Time,
      </if>
      <if test="lastUpdateTime != null">
        last_Update_Time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null">
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="ownerIdentity != null">
        #{ownerIdentity,jdbcType=VARCHAR},
      </if>
      <if test="ownerName != null">
        #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="receiveTime != null">
        #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.platon.rosettanet.admin.dao.entity.TbTaskResultReceiver">
    update tb_task_result_receiver
    <set>
      <if test="taskId != null">
        task_Id = #{taskId,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null">
        task_Name = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="ownerIdentity != null">
        owner_Identity = #{ownerIdentity,jdbcType=VARCHAR},
      </if>
      <if test="ownerName != null">
        owner_Name = #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="receiveTime != null">
        receive_Time = #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        last_Update_Time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.platon.rosettanet.admin.dao.entity.TbTaskResultReceiver">
    update tb_task_result_receiver
    set task_Id = #{taskId,jdbcType=VARCHAR},
      task_Name = #{taskName,jdbcType=VARCHAR},
      owner_Identity = #{ownerIdentity,jdbcType=VARCHAR},
      owner_Name = #{ownerName,jdbcType=VARCHAR},
      receive_Time = #{receiveTime,jdbcType=TIMESTAMP},
      last_Update_Time = #{lastUpdateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>