<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.platon.metis.admin.dao.VLocalStatsMapper">

  <!-- 查询总占用资源 -->
  <select id="queryUsedTotalResource" resultType="com.platon.metis.admin.dao.dto.UsedResourceDTO">
    select
        sum(used_core) as usedCore,
        sum(used_memory) as usedMemory,
        sum(used_bandwidth) as usedBandwidth,
        sum(memory) as totalMemory,
        sum(core) as totalCore,
        sum(bandwidth) as totalBandwidth
    from
        local_power_node
  </select>

  <!-- 查询我发布的数据 -->
  <select id="queryMyPublishData" resultType="java.lang.Long">
    select
        IFNULL(b.calculate_result, 0) as totalSize
        <!--IFNULL(b.calculate_result, 0) / (1024 * 1024 * 1024) as totalSize -->
   from
       v_past_12_month a left join store_calculate_result b
       on a.month =  b.reside_time
       and b.store_type = 'my_publish_data'
   order by a.month desc
  </select>

  <!-- 查询我发布的算力 -->
  <select id="queryMyPublishPower" resultType="java.lang.Long">
      select
          IFNULL(sum(b.memory), 0) as totalMemory
          <!-- IFNULL(sum(b.memory), 0) / (1024 * 1024 * 1024) as totalMemory -->
      from
          v_past_12_month a left join local_power_node b
          on a.month =  DATE_FORMAT(b.start_time,'%Y-%m')
          and b.power_status = 'release'
          and b.conn_status != '-1'
      group by a.month
      order by a.month desc
  </select>

  <!-- 查询我的计算任务概况 -->
  <select id="queryMyCalculateTaskStats" resultType="java.util.Map">
    select
        status as status,
        count(status) as statusCount
    from
        task
    group by status
  </select>

  <!-- 查询全网数据总量走势 -->
  <select id="queryWholeNetDateTrend" resultType="java.lang.Long">
    select
        IFNULL(sum(b.size), 0) as totalSize
        <!-- IFNULL(sum(b.size), 0) / (1024 * 1024 * 1024) as totalSize -->
    from
        v_past_12_month a left join global_data_file b
        on a.month =  DATE_FORMAT(b.publish_time,'%Y-%m')
        and b.status = 2
    group by a.month
    order by a.month desc
  </select>

  <!-- 查询全网算力总量走势 -->
  <select id="queryWholeNetPowerTrend" resultType="java.lang.Long">
    select
        IFNULL(sum(b.total_Memory), 0) as total_Memory
        <!-- IFNULL(sum(b.total_Memory), 0) / (1024 * 1024 * 1024) as total_Memory -->
    from
        v_past_12_month a left join global_power b
        on a.month =  DATE_FORMAT(b.rec_update_time,'%Y-%m')
    group by a.month
    order by a.month desc
  </select>

  <!-- 查询全网数据总量月环比（上月/上上月）-->
  <select id="queryWholeNetDateRingRatio" resultType="java.lang.Double">
    select
        IFNULL(sum(b.size), 0) as totalSize
        <!-- IFNULL(sum(b.size), 0) / (1024 * 1024 * 1024) as totalSize -->
    from
        (select DATE_FORMAT(CURDATE() - INTERVAL 1 MONTH, '%Y-%m') AS `month`
        UNION select DATE_FORMAT(CURDATE() - INTERVAL 2 MONTH, '%Y-%m') AS `month`) a
        left join global_data_file b
        on a.month = DATE_FORMAT(b.publish_time, '%Y-%m')
        and b.status = 2
    group by a.month
    order by a.month desc
  </select>

  <!-- 查询全网数据总量月同比（当前年上月/去年同上月）-->
  <select id="queryWholeNetDateSameRatio" resultType="java.lang.Double">
    select
        IFNULL(sum(b.size), 0) as totalSize
        <!-- IFNULL(sum(b.size), 0) / (1024 * 1024 * 1024) as totalSize -->
    from
        (select DATE_FORMAT(CURDATE() - INTERVAL 1 MONTH, '%Y-%m') AS `month`
        UNION select DATE_FORMAT(CURDATE() - INTERVAL 13 MONTH, '%Y-%m') AS `month`) a
        left join global_data_file b
        on a.month = DATE_FORMAT(b.publish_time, '%Y-%m')
        and b.status = 2
    group by a.month
    order by a.month desc
  </select>

  <!-- 查询待授权数据列表-->
  <select id="queryWaitAuthDataList" resultType="java.util.HashMap">
    select
        a.create_at as applyTime,
        a.identity_name as identityName,
        b.meta_data_name as metadataName
    from
        local_data_auth a, local_meta_data b
    where 1=1
        and a.meta_data_id = b.meta_data_id
        and a.status = 0
        and b.status = 2
    order by a.create_at desc
  </select>

</mapper>